/*

Reset
-----

Resets and normalizes baseline styles.

See: http://necolas.github.com/normalize.css/

*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
output {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: "";
  content: none;
}
table {
  border-spacing: 0;
}
.lte7 table {
  border-collapse: collapse;
}
table,
table th,
table tr,
table td,
table caption {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
img {
  border: 0;
}
.lte7 img {
  -ms-interpolation-mode: bicubic;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
.lte7 audio,
.lte7 canvas,
.lte7 video {
  display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
legend {
  white-space: normal;
}
.lte7 legend {
  margin-left: -7px;
}
/*

Forms
-----

Form elements are normalized to a simple but pleasing baseline style.

### Input Widths ###

Input elements can be assigned basic widths, from .xxxs to .xxl.

    <label class="input-label">
    	Alternate Size<br />
    	<input type="text" class="input-xxxs" placeholder=".xxxs" />
    </label>
    <label class="input-label">
    	Alternate Size<br />
    	<input type="text" class="input-xxs" placeholder=".xxs" />
    </label>
    <label class="input-label">
    	Alternate Size<br />
    	<input type="text" class="input-xs" placeholder=".xs" />
    </label>
    <label class="input-label">
    	Alternate Size<br />
    	<input type="text" class="input-s" placeholder=".s" />
    </label>
    <label class="input-label">
    	Alternate Size<br />
    	<input type="text" class="input-m" placeholder=".m" />
    </label>
    <label class="input-label">
    	Alternate Size<br />
    	<input type="text" class="input-l" placeholder=".l" />
    </label>
    <label class="input-label">
    	Alternate Size<br />
    	<input type="text" class="input-xl" placeholder=".xl" />
    </label>
    <label class="input-label">
    	Alternate Size<br />
    	<input type="text" class="input-xxl" placeholder=".xxl" />
    </label>

*/
.input-xxxs {
  width: 30px;
}
.input-xxs {
  width: 50px;
}
.input-xs {
  width: 100px;
}
.input-s {
  width: 150px;
}
.input-m {
  width: 250px;
}
.input-l {
  width: 350px;
}
.input-xl {
  width: 450px;
}
.input-xxl {
  width: 550px;
}
/*

### Input Widths (Grid) ###

Perhaps more pleasing to the design, you can match the width of the input to your grid layout.

    <label class="input-label">
    	Input Set to Grid<br />
    	<input type="text" class="one" placeholder=".one" />
    </label>
    <label class="input-label">
    	Input Set to Grid<br />
    	<input type="text" class="two" placeholder=".two" />
    </label>
    <label class="input-label">
    	Input Set to Grid<br />
    	<input type="text" class="three" placeholder=".three" />
    </label>
    <label class="input-label">
    	Input Set to Grid<br />
    	<input type="text" class="four" placeholder=".four" />
    </label>
    <label class="input-label">
    	Input Set to Grid<br />
    	<input type="text" class="five" placeholder=".five" />
    </label>
    <label class="input-label">
    	Input Set to Grid<br />
    	<input type="text" class="six" placeholder=".six" />
    </label>

*/
input.one,
textarea.one {
  width: 37px;
}
input.two,
textarea.two {
  width: 120px;
}
input.three,
textarea.three {
  width: 203px;
}
input.four,
textarea.four {
  width: 286px;
}
input.five,
textarea.five {
  width: 369px;
}
input.six,
textarea.six {
  width: 452px;
}
input.seven,
textarea.seven {
  width: 535px;
}
input.eight,
textarea.eight {
  width: 618px;
}
input.nine,
textarea.nine {
  width: 701px;
}
input.ten,
textarea.ten {
  width: 784px;
}
input.eleven,
textarea.eleven {
  width: 867px;
}
input.twelve,
textarea.twelve {
  width: 950px;
}
/*

### Labels ###



*/
label {
  display: inline-block;
}
.input-label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}
.input-label.required {
  color: #2575ae;
}
.input-label .hint {
  font-family: "PT Sans Regular", Helvetica, Arial, 'Arial Unicode', 'Lucida Sans Unicode', sans-serif;
}
.checkbox-list {
  margin-left: 0;
  list-style: none outside none;
}
.checkbox-list .media-object .object {
  margin-right: 9px;
}
.checkbox-list.inline li {
  padding-right: 18px;
  display: inline-block;
}
.checkbox-label {
  padding-right: 9px;
}
/* -- UI Consistency -- */
input,
button,
select,
textarea {
  vertical-align: middle;
}
textarea,
select[size],
select[multiple] {
  height: auto;
}
optgroup {
  color: #434142;
  font-style: normal;
  font-weight: normal;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}
/* -- Input Fields -- */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  height: 20px;
  margin: 10px 0 0;
  padding: 4px 4px;
  font-family: "PT Sans Regular", Helvetica, Arial, 'Arial Unicode', 'Lucida Sans Unicode', sans-serif;
  font-size: 16px;
  color: #434142;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #cfcbca;
  outline: 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.input-label textarea,
.input-label select,
.input-label input[type="date"],
.input-label input[type="datetime"],
.input-label input[type="datetime-local"],
.input-label input[type="email"],
.input-label input[type="month"],
.input-label input[type="number"],
.input-label input[type="password"],
.input-label input[type="search"],
.input-label input[type="tel"],
.input-label input[type="text"],
.input-label input[type="time"],
.input-label input[type="url"],
.input-label input[type="week"] {
  margin-top: 5px;
}
textarea.input-thin,
select.input-thin,
input[type="date"].input-thin,
input[type="datetime"].input-thin,
input[type="datetime-local"].input-thin,
input[type="email"].input-thin,
input[type="month"].input-thin,
input[type="number"].input-thin,
input[type="password"].input-thin,
input[type="search"].input-thin,
input[type="tel"].input-thin,
input[type="text"].input-thin,
input[type="time"].input-thin,
input[type="url"].input-thin,
input[type="week"].input-thin {
  height: 60px;
  padding: 9px 2px;
  font-size: 13px;
}
.lte7 textarea,
.lte7 select,
.lte7 input[type="date"],
.lte7 input[type="datetime"],
.lte7 input[type="datetime-local"],
.lte7 input[type="email"],
.lte7 input[type="month"],
.lte7 input[type="number"],
.lte7 input[type="password"],
.lte7 input[type="search"],
.lte7 input[type="tel"],
.lte7 input[type="text"],
.lte7 input[type="time"],
.lte7 input[type="url"],
.lte7 input[type="week"] {
  height: auto;
  padding: 4px 4px 3px;
}
textarea {
  min-height: 80px;
  overflow: auto;
  resize: vertical;
}
select {
  height: auto;
}
::-webkit-input-placeholder {
  color: #cfcbca;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cfcbca;
}
input.placeholder_text,
textarea.placeholder_text {
  color: #cfcbca;
}
:invalid {
  -webkit-box-shadow: none 0 10px #cccccc;
  -moz-box-shadow: none 0 10px #cccccc;
  -o-box-shadow: none 0 10px #cccccc;
  box-shadow: none 0 10px #cccccc;
}
/* -- Radios & Checkboxes -- */
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 1px;
}
.ie input[type="radio"],
.ie input[type="checkbox"],
.button input[type="radio"],
.button input[type="checkbox"],
.tag input[type="radio"],
.tag input[type="checkbox"] {
  top: 0;
}
.lte7 input[type="radio"],
.lte7 input[type="checkbox"] {
  top: -3px;
}
/* -- iPad -- */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}
/* -- iPhone 3 -- */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
/* -- iPhone 4 -- */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
/* -- States -- */
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  z-index: 1;
  -webkit-box-shadow: #0066ff 0 0 7px;
  -moz-box-shadow: #0066ff 0 0 7px;
  -o-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
}
input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none 0 10px #cccccc;
  -moz-box-shadow: none 0 10px #cccccc;
  -o-box-shadow: none 0 10px #cccccc;
  box-shadow: none 0 10px #cccccc;
}
/* -- Disabled -- */
select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  color: #888;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-box-shadow: none 0 10px #cccccc;
  -moz-box-shadow: none 0 10px #cccccc;
  -o-box-shadow: none 0 10px #cccccc;
  box-shadow: none 0 10px #cccccc;
}
/* -- Webkit -- */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 20px;
    background-image: url(../images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
  }
  select[size],
  select[multiple] {
    padding: 0;
    background-image: none;
  }
  ::-webkit-validation-bubble-message {
    height: 16px;
    padding: 15px 15px 17px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, #000000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    font: 13px/17px 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    color: #ffffff;
    overflow: hidden;
    text-shadow: 0 0 1px #000000;
  }
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}
.search {
  overflow: hidden;
}
.search .input,
.search .submit {
  margin: 0;
  float: left;
}
.search .input {
  width: 150px;
}
.search .submit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none 0 10px #cccccc;
  -moz-box-shadow: none 0 10px #cccccc;
  -o-box-shadow: none 0 10px #cccccc;
  box-shadow: none 0 10px #cccccc;
}
/*

Buttons
-------

Buttons can be applied to `<input />`, `<button>` and `<a>` elements using the baseline class, .button, and any complementary classes to alter its color or size.

    <input class="button" type="submit" value="Button" />
    <button class="button">Button</button>
    <a href="#" class="button">Button</a>


### Size & Shape ###

Variations in size and shape exist for the .button class by simply adding another class.

    <input type="submit" class="round button" value=".round" />
    <input type="submit" class="tiny button" value=".tiny" />
    <input type="submit" class="small button" value=".small" />
    <input type="submit" class="button" value="Default" />
    <input type="submit" class="large button" value=".large" />
    <input type="submit" class="full-width button" value=".full-width" />

### Colors ###

A base set of colors provides significance to the buttons.

    <input type="submit" class="button" value="Default" />
    <input type="submit" class="primary button" value=".primary" />
    <input type="submit" class="danger button" value=".danger" />
    <input type="submit" class="success button" value=".success" />
    <input type="submit" class="rogue button" value=".rogue" />

*/
.button {
  width: auto;
  height: auto;
  margin: 0;
  padding: 9px 17px;
  display: inline-block;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #434142;
  text-align: center;
  text-decoration: none;
  position: relative;
  background: #cfcbca;
  -webkit-appearance: none;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #a9a6a7;
  outline: 0;
  overflow: visible;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 20px;
}
p .button {
  margin-top: 0;
}
.button.tiny {
  font-size: 10px;
  padding: 3px 5px;
}
.button.small {
  font-size: 13px;
  padding: 6px 8px;
}
.button.large {
  font-size: 21px;
}
.button.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-weight: bold;
  text-align: center;
}
.button:hover,
.button:focus {
  color: inherit;
  background: #a9a6a7;
}
/*

### Button Group ###

The Button Group takes a list of buttons (`<input />`, `<button>` or `<a>` in any combination) and clumps them together.

    <ul class="button-group">
    	<li><a href="#" class="button">Cancel</a></li>
    	<li><input class="primary button" type="submit" name="submit" id="submit" value="Submit" /></li>
    </ul>

*/
.button-group {
  margin-left: 0;
}
.lte7 .button-group {
  zoom: 1;
}
.button-group:before,
.button-group:after {
  content: "\0020";
  height: 0;
  display: block;
  overflow: hidden;
}
.button-group:after {
  clear: both;
}
.button-group li {
  float: left;
  list-style: none outside none;
}
.button-group li .button {
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.button-group li:first-child .button {
  margin-left: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button-group li:last-child .button {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -o-border-bottom-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* -- Headings -- */
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: "Museo700", Helvetica, Arial, Verdana, serif;
  color: #024f82;
  margin-top: 20px;
}
/* -- Font Sizes -- */
h1,
.canon-text {
  font-size: 48px;
  line-height: 50px;
}
h2,
.paragon-text {
  font-size: 28px;
  line-height: 30px;
}
h3,
.primer-text {
  font-size: 21px;
  line-height: 30px;
}
h4,
.normal-text {
  font-size: 16px;
  line-height: 20px;
}
h5,
.petite-text {
  font-size: 13px;
  line-height: 20px;
}
h6,
.minion-text {
  font-size: 10px;
  line-height: 10px;
}
.subtitle {
  margin-top: 0;
}
.title-group .subtitle {
  color: #2575ae;
}
/* -- Body Text -- */
body {
  font-family: "PT Sans Regular", Helvetica, Arial, 'Arial Unicode', 'Lucida Sans Unicode', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #434142;
  font-size: 16px;
  line-height: 20px;
}
.body-text {
  font-family: "PT Sans Regular", Helvetica, Arial, 'Arial Unicode', 'Lucida Sans Unicode', sans-serif;
}
p,
blockquote,
ul,
ol,
dl,
address,
table,
figure {
  margin-top: 20px;
}
ul,
ol,
dd {
  margin-left: 20px;
}
ul.unstyled,
ol.unstyled,
dd.unstyled {
  margin-left: 0;
  list-style: none outside none;
}
li ul,
li ol {
  margin-top: 10px;
  margin-bottom: 10px;
}
dt {
  font-family: "PT Sans Bold", Helvetica, Arial, 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
}
blockquote {
  padding: 0 18px 0 13px;
  border-left: 5px solid #2575ae;
  margin-bottom: 20px;
  margin-top: 20px;
}
blockquote p:first-child {
  margin: 0;
}
blockquote cite {
  color: #858384;
}
blockquote cite:before {
  content: '\2014 \00A0';
}
code {
  color: #6c559f;
  padding: 0 2px;
  background-color: rgba(243, 123, 131, 0.1);
  font-size: 13px;
  line-height: 20px;
}
code,
code pre {
  padding: 0 3px 2px;
  font-family: "Anonymous Pro Bold", Courier, monospace;
  font-style: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
pre {
  margin: 20px 0 0;
  padding: 8.5px;
  display: block;
  background-color: rgba(207, 203, 202, 0.2);
  border: 1px solid #cfcbca;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
pre code {
  display: block;
}
abbr[title] {
  border-bottom: 1px dotted;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
a {
  color: #df65a6;
}
a:hover,
a:focus,
a.is-current {
  color: #a05ea5;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a a:active {
  outline: 0;
}
.figcaption {
  padding: 5px 9px;
  display: block;
  font-style: italic;
  background-color: #cfcbca;
}
.meta {
  margin: 5px 0 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
}
/*

Tables
------

Tables have a basic style with a couple of simpler variations.

### Simple

*/
table {
  width: 100%;
  padding: 0;
  border-collapse: separate;
}
.lte7 table {
  border-collapse: collapse;
}
table th,
table td {
  padding: 5px 5px 4px;
  text-align: left;
}
table th {
  padding-top: 4px;
  font-weight: bold;
  vertical-align: middle;
}
table td {
  vertical-align: top;
}
/*

General
-------

General, handy, presentational helper classes.

First, we have classes for aligning text and floating images.

    <p class="align-left">Left-aligned text.</p>
    <p class="center-left">Center-aligned text.</p>
    <p class="right-left">Right-aligned text.</p>

*/
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-center {
  margin-left: auto;
  margin-right: auto;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
.lte7 .group {
  zoom: 1;
}
.group:before,
.group:after {
  content: "\0020";
  height: 0;
  display: block;
  overflow: hidden;
}
.group:after {
  clear: both;
}
.text-hide {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
/* 

Spacing helpers are quick but powerful classes that add margin or padding to any given element. These classes are !important, so they override all other styles.

p, m				=	padding, margin  
a, t, r, b, l, h, v	=	all, top, right, bottom, left, horizontal, vertical  
s, m, l, n			=	small (5px), medium (10px), large (20px), none (0)

*/
.ptn,
.pvn,
.pan {
  padding-top: 0		!important;
}
.pts,
.pvs,
.pas {
  padding-top: 5px		!important;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px	!important;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px	!important;
}
.prn,
.phn,
.pan {
  padding-right: 0		!important;
}
.prs,
.phs,
.pas {
  padding-right: 5px		!important;
}
.prm,
.phm,
.pam {
  padding-right: 10px	!important;
}
.prl,
.phl,
.pal {
  padding-right: 20px	!important;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0		!important;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px		!important;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px	!important;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px	!important;
}
.pln,
.phn,
.pan {
  padding-left: 0		!important;
}
.pls,
.phs,
.pas {
  padding-left: 5px		!important;
}
.plm,
.phm,
.pam {
  padding-left: 10px	!important;
}
.pll,
.phl,
.pal {
  padding-left: 20px	!important;
}
.mtn,
.mvn,
.man {
  margin-top: 0		!important;
}
.mts,
.mvs,
.mas {
  margin-top: 5px		!important;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px	!important;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px	!important;
}
.mrn,
.mhn,
.man {
  margin-right: 0		!important;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px		!important;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px	!important;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px	!important;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0		!important;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px		!important;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px	!important;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px	!important;
}
.mln,
.mhn,
.man {
  margin-left: 0		!important;
}
.mls,
.mhs,
.mas {
  margin-left: 5px		!important;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px	!important;
}
.mll,
.mhl,
.mal {
  margin-left: 20px	!important;
}
/*

Modules
-------

Flexible, generic, reusable components for layout and interaction.

*/
/*

The Media Object is an image (or media-type) to the left with (typically) descriptive content to the right. The media object can be whatever size it wants, the basic format will remain the same. (Text will NOT wrap.)  This has any number of applications, such as a checkbox next to a label with lots of text.

    <div class="media-object">
        <b class="object">
            <img src="http://placehold.it/200" width="200" height="200" alt="Media Object" />
        </b>
        <div class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget risus libero, id venenatis ante. Curabitur iaculis turpis vitae velit luctus in luctus mi molestie. Curabitur bibendum magna lorem. Curabitur enim lectus, scelerisque non pellentesque in, suscipit eget nibh. Pellentesque vitae nunc vel tortor rhoncus euismod. Maecenas pretium porta ultricies. Quisque feugiat sem sit amet sapien consequat non fringilla leo suscipit.</p>
        </div>
    </div>

See: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

*/
.media-object,
.media-object .desc {
  overflow: hidden;
}
.ie6 .media-object,
.ie6 .media-object .desc {
  overflow: visible;
  zoom: 1;
}
.media-object .object {
  margin-right: 18px;
  float: left;
}
.media-object .object img {
  display: block;
}
.media-object .desc  > :first-child {
  margin-top: 0;
}
.media-object.half {
  margin-left: 9px;
  margin-right: 9px;
}
.media-object.half .object {
  margin-left: 9px;
  margin-right: 9px;
}
.media-object.checkbox-label .object {
  margin-right: 10px;
}
/*

The Media Grid allows you to place a grid of photos or videos (catalog or retail products, etc.) without floating them, alleviating the need to concern yourself with clearing the floats should an object extend further than another.  The .object class can be applied to block or inline elements (<b>, <span>, <a>, <div>) depending on your need.

You can then apply grid-system classes to the .object to constrain the widths.

    <ul class="media-grid">
        <li>
            <b class="object">
                <img src="http://placehold.it/200" width="200" height="200" alt="Media Object" />
            </b>
        </li>
    </ul>

*/
.media-grid {
  margin: 0 -18px;
  font-size: 0;
}
.lte7 .media-grid {
  zoom: 1;
}
.media-grid:before,
.media-grid:after {
  content: "\0020";
  height: 0;
  display: block;
  overflow: hidden;
}
.media-grid:after {
  clear: both;
}
.media-grid li {
  display: inline;
  list-style: none outside none;
}
.media-grid .object {
  display: inline-block;
  margin: 20px 18px 0;
  font-size: 16px;
}
.media-grid .object img {
  display: block;
}
.media-grid.half {
  margin-left: 9px;
  margin-right: 9px;
}
.media-grid.half .object {
  margin-left: 9px;
  margin-right: 9px;
}
/*

The Tabs module (and accompanying plugin) creates a very basic widget that allows module embedding and basic styling.

    <section class="tabs" data-tabs="tabbed-widget">
    	<ul class="nav group" data-tabs-nav="tabbed-widget">
    		<li class="is-current"><a href="#first-tab">First Tab</a></li>
    		<li><a href="#second-tab">Second Tab</a></li>
    		<li><a href="#third-tab">Third Tab</a></li>
    		<li><a href="#fourth-tab">Fourth Tab</a></li>
    	</ul>
    	<div class="section">
    		<section id="first-tab" class="tab is-current" data-tabs-section="tabbed-widget">
    			<h3>First Tab</h3>
    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    		</section>
    		<section id="second-tab" class="tab" data-tabs-section="tabbed-widget">
    			<h3>Second Tab</h3>
    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    		</section>
    		<section id="third-tab" class="tab" data-tabs-section="tabbed-widget">
    			<h3>Third Tab</h3>
    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    		</section>
    		<section id="fourth-tab" class="tab" data-tabs-section="tabbed-widget">
    			<h3>Fourth Tab</h3>
    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    		</section>
    	</div>
    </section>

*/
.tabs .section {
  position: relative;
}
.lte7 .tabs .nav {
  zoom: 1;
}
.tabs .nav:before,
.tabs .nav:after {
  content: "\0020";
  height: 0;
  display: block;
  overflow: hidden;
}
.tabs .nav:after {
  clear: both;
}
.tabs .nav li {
  display: block;
  margin: 0;
  float: left;
  position: relative;
  z-index: 30;
}
.tabs .nav li.is-current {
  z-index: 60;
}
.tabs .nav li.is-current a {
  color: #a05ea5;
}
.tabs .nav a {
  padding: 5px 9px;
  display: block;
  text-decoration: none;
}
.tabs .nav.sub-nav {
  font-size: 13px;
  margin-top: 10px;
}
.tabs .tab {
  display: none;
}
.tabs .tab.is-current {
  display: block;
}
/*

The basic Nav module simply removes bullets from lists and inlines the list items, making the link inline-block. The idea is to give the skeleton of a horizontal nav without adding too much style (yet).

    <ul class="nav">
        <li><a href="#">Nav Item</a></li>
        <li><a href="#">Nav Item</a></li>
        <li><a href="#">Nav Item</a></li>
        <li><a href="#">Nav Item</a></li>
    </ul>

*/
.nav {
  margin-left: 0;
}
.nav li {
  display: inline;
  list-style: none outside none;
}
.nav a {
  display: inline-block;
}
.lte7 .nav a {
  display: inline;
  zoom: 1;
}
/* -- Breadcrumb -- */
.breadcrumb {
  font-size: 13px;
}
.lte7 .breadcrumb {
  zoom: 1;
}
.breadcrumb:before,
.breadcrumb:after {
  content: "\0020";
  height: 0;
  display: block;
  overflow: hidden;
}
.breadcrumb:after {
  clear: both;
}
.breadcrumb .label {
  margin: 0 10px 0 0;
  display: inline;
  float: left;
}
.breadcrumb .nav {
  margin: 0;
  float: left;
  text-transform: capitalize;
}
.breadcrumb li {
  margin-right: 9px;
  float: left;
}
.breadcrumb li:before {
  content: "/";
  margin-right: 9px;
}
.breadcrumb li:first-child:before {
  content: "";
  margin: 0;
}
/* -- Pagination -- */
.pagination {
  height: 30px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #dddddd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  margin: 0;
  display: inline;
  list-style: none outside none;
}
.pagination li:first-child a {
  border-left: none;
}
.pagination li.first a {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  -o-border-top-left-radius: 2px;
  -o-border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.pagination li.last a {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -o-border-bottom-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.pagination li.disabled a,
.pagination li.disabled a:hover,
.pagination li.disabled a:focus {
  color: #cfcbca;
  cursor: default;
  background-color: transparent;
}
.pagination a {
  padding: 0 10px;
  float: left;
  line-height: 30px;
  border-left: 1px solid;
  border-left-color: #cfcbca;
  text-decoration: none;
}
.pagination a:hover,
.pagination a:focus {
  color: #ffffff;
  background: #a05ea5;
}
.pagination .current a {
  color: #ffffff;
  background: #a05ea5;
}
/* -- Alerts -- */
.alert {
  padding: 19px 17px;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
  color: #ffffff;
  text-shadow: 0 -1px 1px #fb9b0e;
  background: #fcb040;
  border-color: #fb9b0e;
}
.alert  > :first-child {
  margin-top: 0;
}
.alert.thin {
  padding: 9px 8px;
}
.alert.error {
  color: #ffffff;
  text-shadow: 0 -1px 1px #d41b2e;
  background: #e63c4d;
  border-color: #d41b2e;
}
.alert.success {
  color: #ffffff;
  text-shadow: 0 -1px 1px #086a30;
  background: #0b9a45;
  border-color: #086a30;
}
.alert.info {
  color: #ffffff;
  text-shadow: 0 -1px 1px #007da5;
  background: #00a4d8;
  border-color: #007da5;
}
.alert .close {
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  text-indent: -90000em;
  display: block;
  top: 50%;
  right: 0;
  background: transparent url(../images/close-x.png) no-repeat center center;
}
label .alert {
  margin: 0;
  padding: 9.5px 8px;
  display: block;
  font-family: "PT Sans Regular", Helvetica, Arial, 'Arial Unicode', 'Lucida Sans Unicode', sans-serif;
  font-size: 13px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
label .alert:last-of-type {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.modal {
  width: 500px;
  display: none;
}
.modal-overlay {
  background: #000;
}
/**
 * Fixed Grid
 * 
 * Fixed-width grid system for complex column layout. Very lego.
 * 
 * @section Fixed Grid
 * @see     http://gridsystemgenerator.com
 */
.columns {
  margin-left: 18px;
  margin-right: 18px;
  display: inline;
  float: left;
}
.row {
  margin-left: -18px;
  margin-right: -18px;
}
.lte7 .row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "\0020";
  height: 0;
  display: block;
  overflow: hidden;
}
.row:after {
  clear: both;
}
/**
 * Grid Column Widths
 */
.one {
  width: 47px;
}
.two {
  width: 130px;
}
.three {
  width: 213px;
}
.four {
  width: 296px;
}
.five {
  width: 379px;
}
.six {
  width: 462px;
}
.seven {
  width: 545px;
}
.eight {
  width: 628px;
}
.nine {
  width: 711px;
}
.ten {
  width: 794px;
}
.eleven {
  width: 877px;
}
.twelve {
  width: 960px;
}
.thirteen {
  width: 1043px;
}
.fourteen {
  width: 1126px;
}
.fifteen {
  width: 1209px;
}
.sixteen {
  width: 1292px;
}
.seventeen {
  width: 1375px;
}
.eighteen {
  width: 1458px;
}
/**
 * Grid Offset
 */
.offset-by-one {
  margin-left: 101px;
}
.offset-by-two {
  margin-left: 184px;
}
.offset-by-three {
  margin-left: 267px;
}
.offset-by-four {
  margin-left: 350px;
}
.offset-by-five {
  margin-left: 433px;
}
.offset-by-six {
  margin-left: 516px;
}
.offset-by-seven {
  margin-left: 599px;
}
.offset-by-eight {
  margin-left: 682px;
}
.offset-by-nine {
  margin-left: 765px;
}
.offset-by-ten {
  margin-left: 848px;
}
.offset-by-eleven {
  margin-left: 931px;
}
.offset-by-twelve {
  margin-left: 1014px;
}
.offset-by-thirteen {
  margin-left: 1097px;
}
.offset-by-fourteen {
  margin-left: 1180px;
}
.offset-by-fifteen {
  margin-left: 1263px;
}
.offset-by-sixteen {
  margin-left: 1346px;
}
.offset-by-seventeen {
  margin-left: 1429px;
}
/*

@font-face Declarations
-----------------------

List your webfont declarations below.

*/
@font-face {
  font-family: 'Museo700';
  src: url('../fonts/museo/Museo700-Regular-webfont.eot');
  src: url('../fonts/museo/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo/Museo700-Regular-webfont.woff') format('woff'), url('../fonts/museo/Museo700-Regular-webfont.ttf') format('truetype'), url('../fonts/museo/Museo700-Regular-webfont.svg#Museo700') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold Italic';
  src: url('../fonts/pt-sans/PTS76F-webfont.eot');
  src: url('../fonts/pt-sans/PTS76F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-sans/PTS76F-webfont.woff') format('woff'), url('../fonts/pt-sans/PTS76F-webfont.ttf') format('truetype'), url('../fonts/pt-sans/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url('../fonts/pt-sans/PTS75F-webfont.eot');
  src: url('../fonts/pt-sans/PTS75F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-sans/PTS75F-webfont.woff') format('woff'), url('../fonts/pt-sans/PTS75F-webfont.ttf') format('truetype'), url('../fonts/pt-sans/PTS75F-webfont.svg#PTSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Italic';
  src: url('../fonts/pt-sans/PTS56F-webfont.eot');
  src: url('../fonts/pt-sans/PTS56F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-sans/PTS56F-webfont.woff') format('woff'), url('../fonts/pt-sans/PTS56F-webfont.ttf') format('truetype'), url('../fonts/pt-sans/PTS56F-webfont.svg#PTSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Regular';
  src: url('../fonts/pt-sans/PTS55F-webfont.eot');
  src: url('../fonts/pt-sans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-sans/PTS55F-webfont.woff') format('woff'), url('../fonts/pt-sans/PTS55F-webfont.ttf') format('truetype'), url('../fonts/pt-sans/PTS55F-webfont.svg#PTSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Anonymous Pro Bold';
  src: url('../fonts/anonymous-pro/Anonymous_Pro_B-webfont.eot');
  src: url('../fonts/anonymous-pro/Anonymous_Pro_B-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/anonymous-pro/Anonymous_Pro_B-webfont.woff') format('woff'), url('../fonts/anonymous-pro/Anonymous_Pro_B-webfont.ttf') format('truetype'), url('../fonts/anonymous-pro/Anonymous_Pro_B-webfont.svg#AnonymousProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EntypoRegular';
  src: url('../fonts/entypo/entypo-webfont.eot');
  src: url('../fonts/entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/entypo/entypo-webfont.woff') format('woff'), url('../fonts/entypo/entypo-webfont.ttf') format('truetype'), url('../fonts/entypo/entypo-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* -- Inline Tags -- */
.tag {
  padding: 3px 4px 1px;
  background-color: #a9a6a7;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.tag.important {
  background-color: #f26527;
}
.tag.warning {
  background-color: #e63c4d;
}
.tag.success {
  background-color: #0b9a45;
}
.tag.notice {
  background-color: #00a4d8;
}
a.tag {
  text-decoration: none;
}
a.tag:hover {
  color: #ffffff;
  background-color: #a05ea5;
}
[data-icon] i {
  padding-right: 9px;
  display: inline-block;
  font-family: "EntypoRegular";
  font-size: 1.846em;
  line-height: 0.583;
}
[data-icon] i.icon-appended {
  padding-right: 0;
  padding-left: 9px;
}
table {
  border: 1px solid #e7e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
table.simple-table {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
table.simple-table th,
table.simple-table td {
  padding: 5px 10px 4px;
}
table th,
table td {
  padding: 10px 10px 9px;
}
table th {
  padding-top: 9px;
  border-bottom: 1px solid #e7e5e5;
}
table th + th,
table td + td {
  border-left: 1px solid #e7e5e5;
}
table tr + tr td {
  border-top: 1px solid #e7e5e5;
}
table tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
table tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
table tbody tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
table tbody tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.zebra-striped tbody tr:nth-child(odd) td {
  background-color: #f8f8f7;
}
.zebra-striped tbody tr:hover td {
  background-color: #f3f2f2;
}
.button {
  text-shadow: 0 -1px 0px #ffffff;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #7c7c7c;
  border-color: #b7b1af;
  background: #cfcbca url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #ffffff 0, #cfcbca 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(100%, #cfcbca));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0, #cfcbca 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0, #cfcbca 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0, #cfcbca 100%);
  /* IE10+ */

  background: linear-gradient(top, #ffffff 0, #cfcbca 100%);
  /* W3C */

}
.button:hover,
.button:focus {
  color: #646464;
  border-color: #aba4a2;
  background: #c3bebd url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #f3f2f2 0, #c3bebd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f2f2), color-stop(100%, #c3bebd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f3f2f2 0, #c3bebd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f3f2f2 0, #c3bebd 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f3f2f2 0, #c3bebd 100%);
  /* IE10+ */

  background: linear-gradient(top, #f3f2f2 0, #c3bebd 100%);
  /* W3C */

}
.button.round {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}
.button.blue,
.button.primary {
  text-shadow: 0 -1px 0px #1c5984;
  color: #ffffff;
  border-color: #1c5984;
  background: #2575ae url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #5da7dc 0, #2575ae 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5da7dc), color-stop(100%, #2575ae));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #5da7dc 0, #2575ae 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #5da7dc 0, #2575ae 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #5da7dc 0, #2575ae 100%);
  /* IE10+ */

  background: linear-gradient(top, #5da7dc 0, #2575ae 100%);
  /* W3C */

}
.button.blue:hover,
.button.primary:hover,
.button.blue:focus,
.button.primary:focus {
  color: #ffffff;
  border-color: #184b6f;
  background: #216799 url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #489cd8 0, #216799 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #489cd8), color-stop(100%, #216799));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #489cd8 0, #216799 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #489cd8 0, #216799 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #489cd8 0, #216799 100%);
  /* IE10+ */

  background: linear-gradient(top, #489cd8 0, #216799 100%);
  /* W3C */

}
.button.red,
.button.danger {
  text-shadow: 0 -1px 0px #d41b2e;
  color: #ffffff;
  border-color: #d41b2e;
  background: #e63c4d url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #f296a0 0, #e63c4d 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f296a0), color-stop(100%, #e63c4d));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f296a0 0, #e63c4d 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f296a0 0, #e63c4d 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f296a0 0, #e63c4d 100%);
  /* IE10+ */

  background: linear-gradient(top, #f296a0 0, #e63c4d 100%);
  /* W3C */

}
.button.red:hover,
.button.danger:hover,
.button.red:focus,
.button.danger:focus {
  color: #ffffff;
  border-color: #bd1829;
  background: #e32538 url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #ef808b 0, #e32538 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ef808b), color-stop(100%, #e32538));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ef808b 0, #e32538 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ef808b 0, #e32538 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ef808b 0, #e32538 100%);
  /* IE10+ */

  background: linear-gradient(top, #ef808b 0, #e32538 100%);
  /* W3C */

}
.button.green,
.button.success {
  text-shadow: 0 -1px 0px #086a30;
  color: #ffffff;
  border-color: #086a30;
  background: #0b9a45 url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #1cef72 0, #0b9a45 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1cef72), color-stop(100%, #0b9a45));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #1cef72 0, #0b9a45 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #1cef72 0, #0b9a45 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #1cef72 0, #0b9a45 100%);
  /* IE10+ */

  background: linear-gradient(top, #1cef72 0, #0b9a45 100%);
  /* W3C */

}
.button.green:hover,
.button.success:hover,
.button.green:focus,
.button.success:focus {
  color: #ffffff;
  border-color: #065325;
  background: #09823a url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #10e165 0, #09823a 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #10e165), color-stop(100%, #09823a));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #10e165 0, #09823a 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #10e165 0, #09823a 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #10e165 0, #09823a 100%);
  /* IE10+ */

  background: linear-gradient(top, #10e165 0, #09823a 100%);
  /* W3C */

}
.button.black,
.button.rogue {
  text-shadow: 0 -1px 0px #292829;
  color: #ffffff;
  border-color: #292829;
  background: #434142 url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #777375 0, #434142 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #777375), color-stop(100%, #434142));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #777375 0, #434142 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #777375 0, #434142 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #777375 0, #434142 100%);
  /* IE10+ */

  background: linear-gradient(top, #777375 0, #434142 100%);
  /* W3C */

}
.button.black:hover,
.button.rogue:hover,
.button.black:focus,
.button.rogue:focus {
  color: #ffffff;
  border-color: #1c1b1c;
  background: #363435 url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #6a6768 0, #363435 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6a6768), color-stop(100%, #363435));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6a6768 0, #363435 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6a6768 0, #363435 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6a6768 0, #363435 100%);
  /* IE10+ */

  background: linear-gradient(top, #6a6768 0, #363435 100%);
  /* W3C */

}
/* -- Nav Bar -- */
.nav-bar {
  background: #434142 url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #5d5a5c 0, #434142 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5d5a5c), color-stop(100%, #434142));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #5d5a5c 0, #434142 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #5d5a5c 0, #434142 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #5d5a5c 0, #434142 100%);
  /* IE10+ */

  background: linear-gradient(top, #5d5a5c 0, #434142 100%);
  /* W3C */

  -webkit-box-shadow: 0 1px 2px #5d5a5c;
  -moz-box-shadow: 0 1px 2px #5d5a5c;
  -o-box-shadow: 0 1px 2px #5d5a5c;
  box-shadow: 0 1px 2px #5d5a5c;
  margin-bottom: 20px;
}
.nav-bar ul {
  margin: 0;
}
.lte7 .nav-bar ul {
  zoom: 1;
}
.nav-bar ul:before,
.nav-bar ul:after {
  content: "\0020";
  height: 0;
  display: block;
  overflow: hidden;
}
.nav-bar ul:after {
  clear: both;
}
.nav-bar li {
  float: left;
}
.nav-bar a {
  padding: 10px 18px;
  margin: 0;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 -1px 1px #292829;
}
.nav-bar a:hover,
.nav-bar a:focus,
.nav-bar a.is-current {
  background: #292829 url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #434142 0, #292829 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #434142), color-stop(100%, #292829));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #434142 0, #292829 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #434142 0, #292829 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #434142 0, #292829 100%);
  /* IE10+ */

  background: linear-gradient(top, #434142 0, #292829 100%);
  /* W3C */

}
.nav-bar .highlight {
  background: #814b85 url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #b37fb7 0, #814b85 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b37fb7), color-stop(100%, #814b85));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #b37fb7 0, #814b85 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #b37fb7 0, #814b85 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #b37fb7 0, #814b85 100%);
  /* IE10+ */

  background: linear-gradient(top, #b37fb7 0, #814b85 100%);
  /* W3C */

}
.nav-bar.divided a {
  border-left: 1px solid #5d5a5c;
  border-right: 1px solid #292829;
}
.nav-bar .sub-nav {
  margin: 0;
  background: #434142;
}
.nav-bar .sub-nav a {
  padding: 5px 18px;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}
.nav-bar .sub-nav a:hover,
.nav-bar .sub-nav a:focus,
.nav-bar .sub-nav a.is-current {
  background: #292829;
}
.nav-bar .sub-nav .highlight {
  background: #814b85;
}
.vertical-nav .current a {
  color: #a05ea5;
  background: rgba(223, 101, 166, 0.09999999999999998);
}
.vertical-nav li:first-child a {
  border: none;
}
.vertical-nav a {
  padding: 4px 0;
  display: block;
  text-decoration: none;
  border-top: 1px solid rgba(223, 101, 166, 0.30000000000000004);
}
.vertical-nav a:hover,
.vertical-nav a:focus {
  background: rgba(223, 101, 166, 0.09999999999999998);
}
.vertical-nav .is-current {
  background: rgba(223, 101, 166, 0.09999999999999998);
}
.vertical-nav li ul {
  margin: 0;
  border-top: 1px solid rgba(223, 101, 166, 0.30000000000000004);
}
.vertical-nav li ul li {
  margin: 0 0 0 20px;
  list-style: none outside none;
}
.panel {
  padding: 19px 17px;
  border: 1px solid;
  border: 1px solid #cfcbca;
  background: #e7e5e5 url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #fbfafa 0, #e7e5e5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbfafa), color-stop(100%, #e7e5e5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fbfafa 0, #e7e5e5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fbfafa 0, #e7e5e5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fbfafa 0, #e7e5e5 100%);
  /* IE10+ */

  background: linear-gradient(top, #fbfafa 0, #e7e5e5 100%);
  /* W3C */

  -webkit-box-shadow: 0 1px 3px rgba(67, 65, 66, 0.15000000000000002);
  -moz-box-shadow: 0 1px 3px rgba(67, 65, 66, 0.15000000000000002);
  -o-box-shadow: 0 1px 3px rgba(67, 65, 66, 0.15000000000000002);
  box-shadow: 0 1px 3px rgba(67, 65, 66, 0.15000000000000002);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
}
.panel  > :first-child,
.panel  > :first-child > :first-child {
  margin-top: 0;
}
.panel.inset {
  text-shadow: 0 1px 1px #ffffff;
  -webkit-box-shadow: inset 0 1px 3px rgba(67, 65, 66, 0.15000000000000002);
  -moz-box-shadow: inset 0 1px 3px rgba(67, 65, 66, 0.15000000000000002);
  -o-box-shadow: inset 0 1px 3px rgba(67, 65, 66, 0.15000000000000002);
  box-shadow: inset 0 1px 3px rgba(67, 65, 66, 0.15000000000000002);
  background: #fbfafa url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -moz-linear-gradient(top, #e7e5e5 0, #fbfafa 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e7e5e5), color-stop(100%, #fbfafa));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e7e5e5 0, #fbfafa 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e7e5e5 0, #fbfafa 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e7e5e5 0, #fbfafa 100%);
  /* IE10+ */

  background: linear-gradient(top, #e7e5e5 0, #fbfafa 100%);
  /* W3C */

}
.panel.simple {
  background: #e7e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.panel.thin {
  padding: 9px 8px;
}
.panel.hud {
  color: #ffffff;
  background: #000000;
  background: rgba(0, 0, 0, 0.75);
  border: none;
  text-shadow: 0 2px 1px #434142;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.panel.hud h1,
.panel.hud h2,
.panel.hud h3,
.panel.hud h4,
.panel.hud h5,
.panel.hud h6,
.panel.hud .heading {
  color: #00a4d8;
}
.wireframe .block {
  padding: 20px 0;
  color: #ffffff;
  text-align: center;
  background: #00a4d8;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.wireframe .block:hover {
  background: #024f82;
}
/* -- Tabs -- */
.tabs .nav {
  margin-left: 1px;
  border-bottom: 1px solid #cfcbca;
}
.tabs .nav li {
  margin: 0 0 -1px -1px;
}
.tabs .nav li.is-current a {
  padding-bottom: 6px;
  color: #df65a6;
  border-bottom: none;
  border-color: #cfcbca;
}
.tabs .nav a {
  color: #cfcbca;
  border: 1px solid transparent;
  border-bottom: none;
  background: #ffffff;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.tabs .nav a:hover,
.tabs .nav a:focus {
  color: #df65a6;
}
.tabs .nav.sub-nav,
.tabs .nav.sub-nav a {
  border: none;
}
.tabs .nav.sub-nav .is-current a {
  background: rgba(223, 101, 166, 0.09999999999999998);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.tabs .nav.sub-nav .is-current a:hover,
.tabs .nav.sub-nav .is-current a:focus {
  background: rgba(223, 101, 166, 0.09999999999999998);
}
.tabs.enclosed .padded.section {
  padding: 20px 17px;
  border: 1px solid #cfcbca;
  border-top: 0;
}
.tabs.enclosed .padded.section .sub-nav {
  margin-top: -10px;
}
.tabs.enclosed .padded.section > .tab > :first-child {
  margin-top: 0;
}
.steps {
  margin: 20px 0 0;
  margin-left: 0;
  list-style: none outside none;
}
.lte7 .steps.horizontal {
  zoom: 1;
}
.steps.horizontal:before,
.steps.horizontal:after {
  content: "\0020";
  height: 0;
  display: block;
  overflow: hidden;
}
.steps.horizontal:after {
  clear: both;
}
.steps.horizontal .title {
  margin: 0 10px 0 0;
  padding: 5px 0;
  float: left;
}
.steps.horizontal li {
  margin: 0 0 0 3px;
  float: left;
}
.steps.horizontal li:first-child {
  margin-left: 0;
}
.steps li {
  margin-top: 3px;
}
.steps li:first-child {
  margin-top: 0;
}
.steps a {
  padding: 5px 10px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  background-color: #cfcbca;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.steps a:hover,
.steps a:focus {
  cursor: default;
}
.steps a[href] {
  background-color: #df65a6;
}
.steps a[href]:hover,
.steps a[href]:focus,
.steps a[href].current {
  background-color: #a05ea5;
  cursor: pointer;
}
/* -- Custom Styles -- */
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.main-header .logo {
  margin-bottom: 40px;
  display: inline-block;
}
