@import "global";

html,
body {
    min-width: px(992);
}
.wrapper {
    width: 92%;
    max-width: px(1150);
    margin-left: auto;
    margin-right: auto;
}

// `@media` responsive strings

// Small
$small-screens-min: #{"all"};

// Medium
$medium-screens-min: #{"all"};

// Large
$large-screens-min: #{"all"};
