/*

Interactive Elements

Styleguide 3.0

*/

/*

Buttons

Default interactive button styles. This `.button` class can be applied to `<a>`, 
`<button>`, or `<input>` elements. Button color and style classes can be combined 
with size classes.

Markup:
<a class="{$modifiers} button" href="#">Link Element Button</a>
<button class="{$modifiers} button">Button Element</button>
<input class="{$modifiers} button" type="button" value="Input Element Button">

.primary - A change from the default style, meant for primary actions (e.g., form submittal)
.danger - Indicative of destructive action
.tiny - Smallest button size available
.small - Small button size, but not too small
.large - Larger button size for big callouts
.full-width - Button expands to fill width of its container

Styleguide 3.1

*/

.button {

    // Variables
    @base-text-size: @petite-text-size;
    @1px: 1em * (1 / @base-text-size);
    @2px: 1em * (2 / @base-text-size);
    @3px: 1em * (3 / @base-text-size);
    @gradient-top: @white;
    @gradient-bottom: lighten(@light-grey, 5%);

    // Shadow vars
    @inset-shadow: fadeout(@white, 60%);
    @outset-shadow: fadeout(@black, 50%);
    @var-shadow-in: 0 @1px @1px @inset-shadow;
    @var-shadow-out: 0 @2px @2px -@1px @outset-shadow;

    // Baseline
    width: auto;
    height: auto;
    margin: 0;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    position: relative;
    -webkit-appearance: none;
    -webkit-background-clip: padding;
       -moz-background-clip: padding;
            background-clip: padding-box;
    border: none;
    outline: 0;
    overflow: visible;
    cursor: pointer;
    vertical-align: middle;
    
    // Styling Begins
    padding: @half-vertical @full-vertical;
    color: @dark-grey;

    // Mixins
    .margin-leader();
    .border-radius(@5px);
    .inline-block-fallback();
    .size-for-font(@petite-text-size);
    .proxima-nova-regular();
    .am-button-color(@light-grey, @light-black);

    p & {
        margin-top: 0;
    }
    &.tiny {

        // Create
        padding: @quarter-vertical @half-vertical;
        
        // Mixins
        .size-for-font(@minion-text-size);
    }
    &.small {
        padding: @quarter-vertical @half-vertical;
    }
    &.large {

        // Variables
        @1px: 1em * (1 / @primer-text-size);

        // Create
        border-width: @1px;

        // Mixins
        .size-for-font(@primer-text-size);
    }
    &.full-width { 
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center; 
    }
    &.blue,
    &.primary {

        // Mixins
        .am-button-color(@blue);
    }
    &.green,
    &.secondary {

        // Mixins
        .am-button-color(@green);
    }
    &.red,
    &.danger {

        // Mixins
        .am-button-color(@red);
    }
    &.yellow,
    &.warning {

        // Mixins
        .am-button-color(@yellow);
    }
    &.button-inverted {

        // Mixins
        .am-button-color(@black-5);
    }
    &.tertiary {

        // Mixins
        .am-button-color(@light-grey, @blue);
    }
}

.icon-button{

    cursor: pointer;

    .am-icon-button-color(@dark-grey);
    .am-icon-button-hover-color(@light-black);

    &.blue,
    &.primary {

        // Mixins
        .am-icon-button-color(@blue);
    }
    &.green,
    &.secondary {

        // Mixins
        .am-icon-button-color(@green);
    }
    &.red,
    &.danger {

        // Mixins
        .am-icon-button-color(@red);
    }
    &.button-inverted,
    &.tertiary {

        // Mixins
        .am-icon-button-color(@light-grey);
    }

    &.primary-hover{

        .am-icon-button-hover-color(@blue);
    }

    &.secondary-hover{

        .am-icon-button-hover-color(@green);
    }

    &.danger-hover{

        .am-icon-button-hover-color(@red);
    }

    &.inverse-hover{

        .am-icon-button-hover-color(@white);
    }
    &.is-disabled {

        /* Mixins */
        .am-icon-button-color(@light-grey);
        .am-icon-button-hover-color(@light-grey);

        /* Other */
        cursor: default;
    }
}
