// Calculate rhythm units.
@function rhythm($lines: 1, $vertical: $base-vertical) {
    @return px($lines * $vertical);
}

@mixin margin-leader($lines: 1) {
    margin-top: rhythm($lines);
}
@mixin margin-trailer($lines: 1) {
    margin-bottom: rhythm($lines);
}
@mixin margin-vertical($lines: 1) {
    margin-top: rhythm($lines);
    margin-bottom: rhythm($lines);
}
@mixin padding-leader($lines: 1) {
    padding-top: rhythm($lines);
}
@mixin padding-trailer($lines: 1) {
    padding-bottom: rhythm($lines);
}
@mixin padding-vertical($lines: 1) {
    padding-top: rhythm($lines);
    padding-bottom: rhythm($lines);
}