/**
 * Mobile Grid
 */
@media @small-screens-max {
    [class*="gs-row"] {
        #mixed > .row( @mobile-margin );
        
        ul& {
            padding-left: 0;
            list-style: none outside none;
        }
    }
    .gs-row {
        &--rtl {
            > [class*="gcs"] {
                float: right;
            }
        }
        &--ltr {
            > [class*="gcs"] {
                float: left;
            }
        }
        &--flex {
            letter-spacing: -0.31em;
            text-rendering: optimizespeed;

            > [class*="gcs"] {
                float: none;
                display: inline-block;
                letter-spacing: normal;
                word-spacing: normal;
                vertical-align: top;
                text-rendering: auto;
            }
        }

        // Opera as of 12 on Windows needs word-spacing.
        // The ".opera-only" selector is used to prevent
        // actual prefocus styling and is not required 
        // in markup.
        .opera-only :-o-prefocus,
        &--flex {
            word-spacing: -0.43em;
        }
    }
    [class*="gcs"] {
        #mixed > .grid-column();
        #mixed > .grid-padding( @mobile-margin );
    }
    .gs-quarter,
    [class*="s-quarter"] {
        width: 25%;
    }
    .gs-third,
    [class*="s-third"] {
        width: round( ( 100% / 3 ), 5 );
    }
    .gs-half,
    [class*="s-half"] {
        width: 50%;
    }
    .gs-two-thirds,
    [class*="s-two-thirds"] {
        width: round( ( ( 100% / 3 ) * 2 ), 5 );
    }
    .gs-three-quarters,
    [class*="s-three-quarters"] {
        width: 75%;
    }
    .gs-full,
    [class*="s-full"] {
        width: 100%;
    }
}

/**
 * Tablet Grid
 */
@media @medium-screens-only {
    [class*="gm-row"] {
        #mixed > .row( @tablet-margin );
        
        ul& {
            padding-left: 0;
            list-style: none outside none;
        }
    }
    .gm-row {
        &--rtl {
            > [class*="gcm"] {
                float: right;
            }
        }
        &--ltr {
            > [class*="gcm"] {
                float: left;
            }
        }
        &--flex {
            letter-spacing: -0.31em;
            text-rendering: optimizespeed;

            > [class*="gcm"] {
                float: none;
                display: inline-block;
                letter-spacing: normal;
                word-spacing: normal;
                vertical-align: top;
                text-rendering: auto;
            }
        }

        .opera-only :-o-prefocus,
        &--flex {
            word-spacing: -0.43em;
        }
    }

    [class*="gcm"] {
        #mixed > .grid-column();
        #mixed > .grid-padding( @tablet-margin );
    }
    .gm-quarter,
    [class*="m-quarter"] {
        width: 25%;
    }
    .gm-third,
    [class*="m-third"] {
        width: round( ( 100% / 3 ), 5 );
    }
    .gm-half,
    [class*="m-half"] {
        width: 50%;
    }
    .gm-two-thirds,
    [class*="m-two-thirds"] {
        width: round( ( ( 100% / 3 ) * 2 ), 5 );
    }
    .gm-three-quarters,
    [class*="m-three-quarters"] {
        width: 75%;
    }
    .gm-full,
    [class*="m-full"] {
        width: 100%;
    }
    #mixins > .grid-all( ( @tablet-total-cols - 1 ), @tablet-total-cols, m );
}

/**
 * Desktop Grid
 */

/*

@pattern: Desktop Grid
<div class="gl-row">
    <div class="gcl-quarter">
        <div class="block">Quarter</div>
    </div>
    <div class="gcl-quarter">
        <div class="block">Quarter</div>
    </div>
    <div class="gcl-quarter">
        <div class="block">Quarter</div>
    </div>
    <div class="gcl-quarter">
        <div class="block">Quarter</div>
    </div>
</div>
<div class="gl-row">
    <div class="gcl-third">
        <div class="block">Third</div>
    </div>
    <div class="gcl-third">
        <div class="block">Third</div>
    </div>
    <div class="gcl-third">
        <div class="block">Third</div>
    </div>
</div>
<div class="gl-row">
    <div class="gcl-half">
        <div class="block">Half</div>
    </div>
    <div class="gcl-half">
        <div class="block">Half</div>
    </div>
</div>
<div class="gl-row">
    <div class="gcl-two-thirds">
        <div class="block">Two Thirds</div>
    </div>
    <div class="gcl-third">
        <div class="block">Third</div>
    </div>
</div>
<div class="gl-row">
    <div class="gcl-three-quarters">
        <div class="block">Three Quarters</div>
    </div>
    <div class="gcl-quarter">
        <div class="block">Quarter</div>
    </div>
</div>

*/

@media @large-screens-min {
    [class*="gl-row"] {
        #mixed > .row( @base-margin );
        
        ul& {
            padding-left: 0;
            list-style: none outside none;
        }
    }
    .gl-row {
        &--rtl {
            > [class*="gcl"] {
                float: right;
            }
        }
        &--ltr {
            > [class*="gcl"] {
                float: left;
            }
        }


/*

Media Grid

The Media Grid allows you to place a grid of photos or videos (catalog or 
retail products, etc.) without floating them, alleviating the need to concern 
yourself with clearing the floats should an object extend further than another.

The `.object` class is applied to the list item. You then apply grid-system 
classes to the `.object` to constrain the widths.

*/

/*

@pattern: Media Grid
<ul class="gs-row--flex gm-row--flex gl-row--flex">
    <li class="gcs-half gcm-third gcl-third">
        <figure class="figure">
            <img src="http://placehold.it/400">
            <figcaption>Alderaan is peaceful. We have no weapons.</figcaption>
        </figure>
    </li>
    <li class="gcs-half gcm-third gcl-third">
        <figure class="figure">
            <img src="http://placehold.it/400">
        </figure>
    </li>
    <li class="gcs-half gcm-third gcl-third">
        <figure class="figure">
            <img src="http://placehold.it/400">
            <figcaption>Alderaan is peaceful. We have no weapons.</figcaption>
        </figure>
    </li>
    <li class="gcs-half gcm-third gcl-third">
        <figure class="figure">
            <img src="http://placehold.it/400">
        </figure>
    </li>
    <li class="gcs-half gcm-third gcl-third">
        <figure class="figure">
            <img src="http://placehold.it/400">
            <figcaption>Alderaan is peaceful. We have no weapons.</figcaption>
        </figure>
    </li>
    <li class="gcs-half gcm-third gcl-third">
        <figure class="figure">
            <img src="http://placehold.it/400">
        </figure>
    </li>
    <li class="gcs-half gcm-third gcl-third">
        <figure class="figure">
            <img src="http://placehold.it/400">
        </figure>
    </li>
</ul>

*/

        &--flex {
            letter-spacing: -0.31em;
            text-rendering: optimizespeed;

            > [class*="gcl"] {
                float: none;
                display: inline-block;
                letter-spacing: normal;
                word-spacing: normal;
                vertical-align: top;
                text-rendering: auto;
            }
        }
        .opera-only :-o-prefocus,
        &--flex {
            word-spacing: -0.43em;
        }
    }

    [class*="gcl"] {
        #mixed > .grid-column();
        #mixed > .grid-padding( @base-margin );
    }
    .gl-quarter,
    [class*="l-quarter"] {
        width: 25%;
    }
    .gl-third,
    [class*="l-third"] {
        width: round( ( 100% / 3 ), 5 );
    }
    .gl-half,
    [class*="l-half"] {
        width: 50%;
    }
    .gl-two-thirds,
    [class*="l-two-thirds"] {
        width: round( ( ( 100% / 3 ) * 2 ), 5 );
    }
    .gl-three-quarters,
    [class*="l-three-quarters"] {
        width: 75%;
    }
    .gl-full,
    [class*="l-full"] {
        width: 100%;
    }
    #mixins > .grid-all( ( @total-columns - 1 ), @total-columns, l );

}
