/**
 * Mobile Grid
 */
@media @small-screens-max {
    [class*="gm-row"] {
        #mixed > .row( @mobile-margin );
    }
    .gm-row {
        &--rtl {
            > [class*="gcm"] {
                float: right;
            }
        }
        &--ltr {
            > [class*="gcm"] {
                float: left;
            }
        }
        &--flex {
            letter-spacing: -0.31em;
            text-rendering: optimizespeed;

            > [class*="gcm"] {
                float: none;
                display: inline-block;
                letter-spacing: normal;
                word-spacing: normal;
                vertical-align: top;
                text-rendering: auto;
            }
        }

        // Opera as of 12 on Windows needs word-spacing.
        // The ".opera-only" selector is used to prevent
        // actual prefocus styling and is not required 
        // in markup.
        .opera-only :-o-prefocus,
        &--flex {
            word-spacing: -0.43em;
        }
    }
    [class*="gcm"] {
        #mixed > .grid-column();
        #mixed > .grid-padding( @mobile-margin );
    }
    .gm-quarter,
    [class*="m-quarter"] {
        width: 25%;
    }
    .gm-third,
    [class*="m-third"] {
        width: round( ( 100% / 3 ), 5 );
    }
    .gm-half,
    [class*="m-half"] {
        width: 50%;
    }
    .gm-two-thirds,
    [class*="m-two-thirds"] {
        width: round( ( ( 100% / 3 ) * 2 ), 5 );
    }
    .gm-three-quarters,
    [class*="m-three-quarters"] {
        width: 75%;
    }
    .gm-full,
    [class*="m-full"] {
        width: 100%;
    }
}

/**
 * Tablet Grid
 */
@media @medium-screens-only {
    [class*="gt-row"] {
        #mixed > .row( @tablet-margin );
    }
    .gt-row {
        &--rtl {
            > [class*="gct"] {
                float: right;
            }
        }
        &--ltr {
            > [class*="gct"] {
                float: left;
            }
        }
        &--flex {
            letter-spacing: -0.31em;
            text-rendering: optimizespeed;

            > [class*="gct"] {
                float: none;
                display: inline-block;
                letter-spacing: normal;
                word-spacing: normal;
                vertical-align: top;
                text-rendering: auto;
            }
        }

        .opera-only :-o-prefocus,
        &--flex {
            word-spacing: -0.43em;
        }
    }

    [class*="gct"] {
        #mixed > .grid-column();
        #mixed > .grid-padding( @tablet-margin );
    }
    .gt-quarter,
    [class*="t-quarter"] {
        width: 25%;
    }
    .gt-third,
    [class*="t-third"] {
        width: round( ( 100% / 3 ), 5 );
    }
    .gt-half,
    [class*="t-half"] {
        width: 50%;
    }
    .gt-two-thirds,
    [class*="t-two-thirds"] {
        width: round( ( ( 100% / 3 ) * 2 ), 5 );
    }
    .gt-three-quarters,
    [class*="t-three-quarters"] {
        width: 75%;
    }
    .gt-full,
    [class*="t-full"] {
        width: 100%;
    }
    #mixins > .grid-all( ( @tablet-total-cols - 1 ), @tablet-total-cols, t );
}

/**
 * Desktop Grid
 */
@media @large-screens-min {
    [class*="gd-row"] {
        #mixed > .row( @base-margin );
    }
    .gd-row {
        &--rtl {
            > [class*="gcd"] {
                float: right;
            }
        }
        &--ltr {
            > [class*="gcd"] {
                float: left;
            }
        }


        /*

        Media Grid

        The Media Grid allows you to place a grid of photos or videos (catalog or 
        retail products, etc.) without floating them, alleviating the need to concern 
        yourself with clearing the floats should an object extend further than another.

        The `.object` class is applied to the list item. You then apply grid-system 
        classes to the `.object` to constrain the widths.

        */
        &--flex {
            letter-spacing: -0.31em;
            text-rendering: optimizespeed;

            > [class*="gcd"] {
                float: none;
                display: inline-block;
                letter-spacing: normal;
                word-spacing: normal;
                vertical-align: top;
                text-rendering: auto;
            }
        }
        .opera-only :-o-prefocus,
        &--flex {
            word-spacing: -0.43em;
        }
    }

    [class*="gcd"] {
        #mixed > .grid-column();
        #mixed > .grid-padding( @base-margin );
    }
    .gd-quarter,
    [class*="d-quarter"] {
        width: 25%;
    }
    .gd-third,
    [class*="d-third"] {
        width: round( ( 100% / 3 ), 5 );
    }
    .gd-half,
    [class*="d-half"] {
        width: 50%;
    }
    .gd-two-thirds,
    [class*="d-two-thirds"] {
        width: round( ( ( 100% / 3 ) * 2 ), 5 );
    }
    .gd-three-quarters,
    [class*="d-three-quarters"] {
        width: 75%;
    }
    .gd-full,
    [class*="d-full"] {
        width: 100%;
    }
    #mixins > .grid-all( ( @total-columns - 1 ), @total-columns, d );
}
