/*

Config

*/

// Font Declarations
@museo-slab-700: "Museo Slab 700", Helvetica, Arial, Verdana, serif;
@source-sans-regular: "Source Sans Pro", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", sans-serif;
@source-sans-bold: "Source Sans Pro Bold", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
@source-sans-italic: "Source Sans Pro Italic", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
@source-sans-bold-italic: "Source Sans Pro Bold Italic", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
@source-code-pro: "Source Code Pro", Courier, monospace;
@symbolset: "Symbolset";
@symbolset-social: "Symbolset Social";
@symbolset-social-circle: "Symbolset Social Circle";

@text-font: @source-sans-regular;
@text-font-bold: @source-sans-bold;
@text-font-italic: @source-sans-italic;
@text-font-bold-italic: @source-sans-bold-italic;
@text-font-code: @source-code-pro;
@text-font-icons: @symbolset;
@primary-header-font: @museo-slab-700;


/*

Font Faces

*/

// Museo Slab
@font-face {
    .web-font("Museo Slab 700", museo-slab, museo-slab-700);
}
@font-face {
    .web-font("Museo 700", museo, Museo700-Regular-webfont);
}

// Source Sans Pro
@font-face {
    .web-font-svg("Source Sans Pro", source-sans-pro, SourceSansPro-Regular-webfont, SourceSansProRegular);
}
@font-face {
    .web-font-svg("Source Sans Pro Bold", source-sans-pro, SourceSansPro-Bold-webfont, SourceSansProBold);
}
@font-face {
    .web-font-svg("Source Sans Pro Italic", source-sans-pro, SourceSansPro-It-webfont, SourceSansProItalic);
}
@font-face {
    .web-font-svg("Source Sans Pro Bold Italic", source-sans-pro, SourceSansPro-BoldIt-webfont, SourceSansProBoldItalic);
}

// Source Code Pro
@font-face {
    .web-font-svg("Source Code Pro", source-code-pro, source-code-pro-regular, SourceCodeProRegular);
}

// Symbolset
@font-face {
    .web-font-svg("Symbolset", symbolset, ss-standard, SSStandardRegular);
}
@font-face {
    .web-font-svg("Symbolset Social", symbolset, ss-social-regular, SSSocialRegular);
}
@font-face {
    .web-font-svg("Symbolset Social Circle", symbolset, ss-social-circle, SSSocialCircle);
}

/* 

Applied Font Faces

These classes based on every typeface used on the project, including many which were 
embedded via `@font-face` declarations.

*/

.museo-slab-700 {
    font-family: @museo-slab-700;
}
.source-sans-regular {
    font-family: @source-sans-regular;
}
.source-sans-bold {
    font-family: @source-sans-bold;
}
.source-sans-italic {
    font-family: @source-sans-italic;
}
.source-sans-bold-italic {
    font-family: @source-sans-bold-italic;
}
.source-code-pro {
    font-family: @source-code-pro;
}
.symbolset {
    font-family: @symbolset;
}
.symbolset-social {
    font-family: @symbolset-social;
}
.symbolset-social-circle {
    font-family: @symbolset-social-circle;
}

/*

Icons

*/

[data-icon-position="solo"]:before,
[data-icon-position="before"]:before,
[data-icon-position="after"]:after,
.data-icon {
    .symbolset();
}
[data-icon-position="solo"]:before,
[data-icon-position="before"]:before,
[data-icon-position="after"]:after {
    [data-icon-family="social"]& {
        .symbolset-social();
    }
    [data-icon-family="social-circle"]& {
        .symbolset-social-circle();
    }
}

.data-icon {
    &-social {
        .symbolset-social();
    }
    &-social-circle {
        .symbolset-social-circle();
    }
}

/*

Type Styles

*/

h1,
h2,
h3,
h4,
h5,
h6,
.primary-heading {
    font-family: @primary-header-font;
    color: @primary-header-color;
}

.secondary-heading  {

    // Mixins
    .source-sans-bold();

    // Other
    color: @grey;
    text-transform: uppercase;
}

/*

Body Text

A quick class to help make any element's text look like the site's default body text.

*/

body,
.body-text {

    // Mixins
    .source-sans-regular();
}
code {
    .source-code-pro();
}
dt,
th,
.input-label,
strong {
    font-weight: normal;

    // Mixins
    .source-sans-bold();
}
em {
    font-style: normal;

    // Mixins
    .source-sans-italic();
}
strong em,
em strong {
    font-style: normal;
    font-weight: normal;

    // Mixins
    .source-sans-bold-italic();
}


/*

Forms

*/

input,
textarea {

    // Create
    background: @white;
    border: @1px solid @grey;

    // Mixins
    &:extend(.body-text);
    .border-radius(@2px);
    .box-shadow-inset(0, @1px, @2px, @light-grey);

    &:hover,
    &:focus,
    &:active,
    &.is-current {
        border-color: @light-black;

        // Mixins
        .box-shadow(0, @1px, @4px, @light-grey);
    }
}

/*

Buttons

*/

[class*="btn"] {

    // Variables
    @gradient-top: @white;
    @gradient-bottom: lighten(@light-grey, 5%);

    // Shadow vars
    @inset-shadow: fadeout(@white, 60%);
    @outset-shadow: fadeout(@black, 50%);
    @var-shadow-in: 0 @1px @1px @inset-shadow;
    @var-shadow-out: 0 @2px @2px -@1px @outset-shadow;
    border: 1px solid @light-grey;
    color: @dark-grey;
    text-shadow: 0 @1px @1px @white;
    
    // Mixins
    .source-sans-bold();
    .border-radius(@3px);
    .box-shadow-in-out(@var-shadow-in, @var-shadow-out);
    .background-linear-gradient(0, @gradient-top, 100%, @gradient-bottom);
    
    &:hover,
    &:focus {
        color: darken(@dark-grey, 10%);
        border-color: @grey;
    }
}
.btn {
    &--blue,
    &--primary {

        // Mixins
        .m-button-color(@blue);
    }
    &--red,
    &--danger {

        // Mixins
        .m-button-color(@red);
    }
}


/*

Panels

*/

.panel--inset {

    // Variables
    @top-gradient: lighten(@light-grey, 18%);
    @bottom-gradient: lighten(@light-grey, 10%);
    @shadow: fadeout(@light-black, 85%);

    text-shadow: 0 @1px @1px @white;

    // Mixins
    .box-shadow-inset( 0, @1px, @3px, @shadow );
    .background-linear-gradient( 0, @bottom-gradient, 100%, @top-gradient );
}
.panel--thin--inset {
    &:extend( .panel--inset );
}


/*

List Modules

*/

/*

Nav Bar

A quick navigation bar, typically good for prototyping the main menu of a site.

*/

.nav-bar {
    &__title {

        // Variables
        @base-color: @dark-blue;
        @top-gradient: @base-color;
        @bottom-gradient: darken(@base-color, 3%);

        // Create
        padding: @half-vertical 4%;
        display: block;
        color: @white;
        cursor: pointer;

        // Mixins
        .background-linear-gradient(0, @top-gradient, 100%, @bottom-gradient);
        .margin-leader();

        &:hover,
        &:focus,
        &.is-current {
                
            // Variables
            @base-color: darken(@dark-blue, 5%);
            @top-gradient: @base-color;
            @bottom-gradient: darken(@base-color, 5%);

            // Mixins
            .background-linear-gradient(0, @top-gradient, 100%, @bottom-gradient);
        }

    }

    &__list {
        margin: 0;
        
        // Mixins
        background: darken(@dark-blue, 10%);
        
        a {
            color: @white;
            text-decoration: none;
            padding: @half-vertical 4%;
            
            // Mixins
            // .source-sans-bold();
            
            &:hover,
            &:focus,
            &.is-current {

                // Mixins
                background: darken(@dark-blue, 15%);
            }
        }
    }
}
@media @small-screens-min {
    .nav-bar {
        &__list {
            li {
                width: 50%;
            }
                a {
                    padding: @half-vertical @full-side;
                }
        }
    }
}
@media @medium-screens-min {
    .nav-bar {

        // Variables
        @base-color: @dark-blue;
        @top-gradient: @base-color;
        @bottom-gradient: darken(@base-color, 3%);
        @highlight-top: lighten(@purple, 10%);
        @highlight-bottom: darken(@purple, 10%);

        &__list {
            
            // Mixins
            .background-linear-gradient(0, @top-gradient, 100%, @bottom-gradient);

            li {
                width: auto;
            }
                a {
                    padding: @full-vertical @full-side;
                    
                    &:hover,
                    &:focus,
                    &.is-current {
                        
                        // Variables
                        @base-color: darken(@dark-blue, 5%);
                        @top-gradient: @base-color;
                        @bottom-gradient: darken(@base-color, 5%);

                        // Mixins
                        .background-linear-gradient(0, @top-gradient, 100%, @bottom-gradient);
                    }
                }
        }
        // .sub-nav {
        //  background:                     darken(@dark-blue, 10%);
            
        //  a   {
        //      padding:                    @half-vertical @full-side;
            
        //      // Mixins
        //      .source-sans-regular();

        //      &:hover,
        //      &:focus,
        //      &.is-current    {
        //          background:             darken(@dark-blue, 15%);
        //      }
        //  }
        // }

        .js & {
            &--menu {
                .nav-bar__title {
                    display: none;
                }
                .nav-bar__list {
                    max-height: 999px;
                }
            }
        }
    }
}


/*

Vertical Nav

*/

.nav--vert {
    .current {
        a {
            color: @primary-link-hover;
            background: fadeout(@primary-link-color, 90%);
        }
    }
    li:first-child {
        a {
            border: none;
        }
    }
    a {
        color: @dark-blue;
        padding: @quarter-vertical @half-side;
        display: block;
        text-decoration: none;
        
        // Mixins
        // .source-sans-bold();
        
        &:hover,
        &:focus {
            background: fadeout(@primary-link-color, 90%);
        }
    }
    .is-current {
        background: fadeout(@primary-link-color, 90%);
    }
    li ul {
        margin: 0;
        padding: 0 0 0 @full-side;
    
        li {
            list-style: none outside none;
        }
    } 
}


/*

Breadcrumb

*/

.breadcrumb {
    &__list--x {
        text-transform: capitalize;
    }
        li {
            &:before {
                content: "/";
                margin-right: @half-side;
            }
            &:first-child:before {
                content: "";
                margin: 0;
            }
        }
}


/*

Tabs

*/

.tabs {
    &__list--x,
    &__list--x--forceful {

        // Variables
        @current-border-width: 3;
        @current-border-top: 1em * (@current-border-width / @base-text-size);
        @current-padding-top: 1em * (((@base-vertical / 2) - @current-border-width) / @base-text-size);
        @current-padding-bottom: 1em * (((@base-vertical / 2) + @default-border-width) / @base-text-size);

        // Create
        border-bottom: @border-width solid @light-grey;

        a {
            padding: @half-vertical @full-side;
            color: @light-grey;
            text-decoration: none;
            background-color: @white;
            position: relative;
            bottom: -@border-width;
            z-index: 30;

            &:hover,
            &:focus {
                color: @light-black;
            }
        }
        .is-current {
            padding: @current-padding-top @full-side-bordered @current-padding-bottom;
            color: @light-black;
            border-left: @border-width solid @light-grey;
            border-right: @border-width solid @light-grey;
            border-top: @current-border-top solid @light-blue;
            z-index: 60;
        }
    }
}

/*

Tables

*/

table {
    th {
        border-bottom: @border-width solid @table-border-color;
    }
    th + th,
    td + td {
        border-left: @border-width solid @table-border-color;
    }
    tr + tr td {
        border-top: @border-width solid @table-border-color;
    }
}

@media @small-screens-min {
    table   {
        th {
            border-bottom: @border-width solid @table-border-color;
        }
    }
}

/*

Messaging

*/

.bubble {

    // Variables
    @wisp-width: @5px;
    @bubble-color: @white;
    @shadow: fadeout(@black, 50%);
    @shadow-radius: @7px;

    // Create
    margin: 0;
    padding: @half-vertical;
    background-color: @bubble-color;
    position: relative;

    // Mixins
    .border-radius(@default-radius);
    .box-shadow(0, 0, @shadow-radius, @shadow);
    .transition(opacity, 0.15s, linear);

    &:after {
        position: absolute;
        border: @wisp-width solid transparent;
    
        // Mixins
        .pseudo-clear();
    }
    &.left-wisp,
    &.right-wisp {
        &:after {
            top: 50%;
            margin-top: -@wisp-width;
        }
    }
    &.left-wisp {
        &:after {
            left: -@wisp-width * 2;
            border-right-color: @bubble-color;
        }
    }
    &.right-wisp {
        &:after {
            right: -@wisp-width * 2;
            border-left-color: @bubble-color;
        }
    }
    &.top-wisp,
    &.bottom-wisp {
        &:after {
            left: 50%;
            margin-left: -@wisp-width;
        }
    }
    &.top-wisp {
        &:after {
            top: -@wisp-width * 2;
            border-bottom-color: @bubble-color;
        }
    }
    &.bottom-wisp {
        &:after {
            bottom: -@wisp-width * 2;
            border-top-color: @bubble-color;
        }
    }
}

/*

Input Alerts

*/

[class*="input-alert"] {

    // Variables
    @wisp-width: @5px;
    @bubble-color: @white;
    @shadow: fadeout(@black, 50%);
    @shadow-radius: @7px;

    // Mixins
    &:extend( .bubble all );
    .box-shadow-none();

    padding: @quarter-vertical @half-vertical;
    color: @white;
    
    &:after {
        left: @half-vertical;
        margin-left: 0;
        top: -@wisp-width * 2;
        border-bottom-color: @bubble-color;
    }
}
.input-alert {
    &--warning {
        .input-alert-color(@warning-color);
    }
    &--info {
        .input-alert-color(@info-color);
    }
    &--error {
        .input-alert-color(@error-color);
    }
    &--success {
        .input-alert-color(@success-color);
    }
}

.no-boxshadow {
    .bubble {

        // Variables
        @1px: 1em * (1 / @base-text-size);
    
        // Create
        border: @1px solid @grey;
    }
}

/*

Form Modules

*/

.search {
    .input {

        /* Mixins */
        .border-radius-right(0);

        /* Display & Box Model */
        float: left;
    }
    .submit {

        /* Mixins */
        .border-radius-left(0);

        /* Display & Box Model */
        margin: 0;
        float: left;
    }
}
