// Typography
@import "base/_t-font-face.less";
@import "base/_t-font-face-applied.less";
@import "base/_t-type.less";

// Interactive Elements
@import "base/_t-buttons.less";

// Modules
@import "base/_t-modules.less";

// Forms
@import "base/_t-forms.less";

// Tables
@import "base/_t-tables.less";

/*

Other

Styleguide 8.0

*/

/**
 * Global Base Styles
 * -----------------------------------------------------------------------------
 * 
 * [Description]
 * 
 * @todo 
 */

body {
    background: @light-black;
}
.wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Main Header
 * -----------------------------------------------------------------------------
 * 
 * [Description]
 * 
 * @todo 
 */

.main-header {
    position: relative;
    z-index: 80;
}
    .client-logo {
        img {
            display: block;
        }
    }

/**
 * Eyebrow Nav
 */

.main-eyebrow-bar {

    /* Other */
    background: @black-1;
}
    .main-eyebrow {

        /* Positioning */
        float: right;

        .dropdown-list {

        }
    }
        .eyebrow-button {
            border-left: 1px solid @black-2;

            /* Positioning */
            position: relative;
            z-index: 95;



            .dropdown-zone:hover &,
            .dropdown-zone:focus &,
            &.is-current {
                background: @light-grey;

                &:before,
                &:after {
                    .pseudo-clear();

                    margin-left: -10px;
                    border: solid transparent;
                    border-width: 7px 10px;
                    position: absolute;
                    left: 50%;
                }

                &:before {
                    border-top-color: @black-6;
                    bottom: -14px;
                }

                &:after {
                    border-top-color: @light-grey;
                    bottom: -13px;
                }
                a {
                    color: @light-black;
                }
            }

            a {
                display: block;
                padding: @half-vertical @full-side;

                /* Other */
                color: @grey;
                
                &:before,
                .data-icon {
                    color: @black-3;
                }
            }
        }
            .notification-date {
                text-transform: uppercase;
            }

/**
 * Main Nav
 */

.main-nav {
    a {
        .margin-vertical(1.25, @meridian-text-size);

        display: block;
        color: @black-6;
        text-shadow: 0 2px 2px fadeout(@black, 50%);
        // -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

        &:before,
        .data-icon {
            font-size: 1em;
            display: block;
            // background: -webkit-linear-gradient(top, @black-6 0%, @black-5 100%);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
        &:hover,
        &:focus {
            color: @green;
        }
    }
}

/**
 * Main Content
 * -----------------------------------------------------------------------------
 * 
 * [Description]
 * 
 * @todo 
 */

.main-content {
    position: relative;
    z-index: 60;

    /* Other */
    background: @dark-white;
}

/**
 * Main Content Header
 */

.content-header {
    background: @light-grey;
}
    .content-nav-back,
    .content-search {
        border-bottom: 1px solid @black-6;
    }
    .content-nav-back {

        /* Variables */
        @base-text-size: @petite-text-size;
        @10px: 1em * (10 / @base-text-size);
        @15px: 1em * (15 / @base-text-size);
        @20px: 1em * (20 / @base-text-size);
        @35px: 1em * (35 / @base-text-size);

        /* Display & Box Model */
        display: block;
        padding: @15px @15px @15px @35px;

        /* Positioning */
        position: relative;

        /* Other */
        color: @light-black;
        text-decoration: none;

        &:before,
        > .data-icon {

            /* Position */
            position: absolute;
            top: 16px;
            left: 15px;
        }
        
        &:hover,
        &:focus,
        &.is-current {
            color: @light-black;
            background: @dark-white;
        }
    }
    .content-search {

        /* Variables */
        @8px: 1em * (8 / @base-text-size);

        /* Display & Box Model */
        padding: @8px;
    }
    .content-nav-title {

        /* Variables */
        @base-text-size: @primer-text-size;
        @15px: 1em * (15 / @base-text-size);
        @20px: 1em * (20 / @base-text-size);

        /* Display & Box Model */
        margin: 0;
        padding: @20px @15px @15px;

        /* Other */
        color: @green;
        text-transform: uppercase;
        background: @light-black;
    }

/**
 * Content Page
 */

.content-page {
    // padding: @full-vertical @full-side;
}
    .content-page-inner {
        padding: 0 4% @double-vertical;
    }

/**
 * Edit View
 * -----------------------------------------------------------------------------
 * 
 * [Description]
 * 
 * @todo 
 */

.edit-content-footer {

    /* Display & Box Model */
    padding: @half-vertical @full-side;

    /* Other */
    background: @black-8;
}

/**
 * Quick Action Bar
 * Sticky bar of hardcore actions like save, delete, etc.
 */

.quick-action-bar {

    /* Variables */
    @14px: 1em * (14 / @base-text-size);
    @shadow: fadeout(@black, 85%);

    /* Mixins */
    .box-shadow-raw(0 @10px @10px -@10px @shadow);

    /* Display & Box Model */
    padding: @14px @full-side;
    border-bottom: 1px solid @black-6;

    /* Other */
    background: @light-grey;
}
    .quick-action-other {

        /* Variables */
        @base-text-size: @primer-text-size;
        @10px: 1em * (10 / @base-text-size);

        .nav {
            .primer-text();
            .margin-leader(0.25, @base-text-size);

            li {
                margin: 0;

                &:first-child a {
                    padding-left: 0;
                }
            }
                a {
                    padding: 0 @10px;
                    color: @dark-grey;

                    &:hover,
                    &:focus,
                    &.is-current {
                        color: @blue;
                        color: @light-black;
                    }
                }
        }
    }
