<% if (fontfaceStyles) { %>
@font-face {
	font-family: "<%= fontBaseName %>";
	<% if (fontSrc1) { %>
	src: <%= fontSrc1 %>;
	<% }%>
	src: <%= fontSrc2 %>;
	font-weight: normal;
	font-style: normal;
}
<% } %>
<% if (baseStyles) { %>
[class*="pre-icon--"]:before,
[class*="icon--"]:before,
[class*="post-icon--"]:after {

	/* Display & Box Model */
	display: inline-block;

	/* Pretty */
	font-family: "<%= fontBaseName %>";
    font-size: 1em;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	text-transform: none;
	speak: none;
    vertical-align: middle;
    white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.lte8 [class*="pre-icon--"]:before,
.lte8 [class*="icon--"]:before,
.lte8 [class*="post-icon--"]:after {
	font-size: 1;
}
[class*="pre-icon--"]:before {
	padding-right: 0.357em;
}
[class*="post-icon--"]:after {
	padding-left: 0.357em;
}
<% } %>
<% if (iconsStyles) { %>
/* Icons */
<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
.pre-icon--<%= glyphs[glyphIdx] %>:before,
.icon--<%= glyphs[glyphIdx] %>:before,
.post-icon--<%= glyphs[glyphIdx] %>:after {
	content: "\<%= codepoints[glyphIdx] %>";
}
<% } %>
<% } %>