/* 

Applied Font Faces

These classes based on every typeface used on the project, including many which were 
embedded via `@font-face` declarations.

Styleguide 2.1

*/

/*

Museo Slab 700

Markup:
<span class="museo-slab-700">This is Sample Text</span>

Styleguide 2.1.1

*/

.museo-slab-700 {
    font-family: @museo-slab-700;
}

/*

Source Sans Regular

Markup:
<span class="source-sans-regular">This is Sample Text</span>

Styleguide 2.1.2

*/

.source-sans-regular {
    font-family: @source-sans-regular;
}

/*

Source Sans Bold

Markup:
<span class="source-sans-bold">This is Sample Text</span>

Styleguide 2.1.3

*/

.source-sans-bold {
    font-family: @source-sans-bold;
}

/*

Source Sans Italic

Markup:
<span class="source-sans-italic">This is Sample Text</span>

Styleguide 2.1.4

*/

.source-sans-italic {
    font-family: @source-sans-italic;
}

/*

Source Sans Bold Italic

Markup:
<span class="source-sans-bold-italic">This is Sample Text</span>

Styleguide 2.1.5

*/

.source-sans-bold-italic {
    font-family: @source-sans-bold-italic;
}
.source-code-pro {
    font-family: @source-code-pro;
}
.symbolset {
    font-family: @symbolset;
}
.symbolset-social {
    font-family: @symbolset-social;
}
.symbolset-social-circle {
    font-family: @symbolset-social-circle;
}
[data-icon-position="solo"]:before,
[data-icon-position="before"]:before,
[data-icon-position="after"]:after,
.data-icon {
    content: attr(data-icon);
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    vertical-align: text-top;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    speak: none;
    white-space: nowrap;

    // Mixins
    .inline-block-fallback();
    .box-sizing(border-box);
    .symbolset();
}
.data-icon {
    &.data-icon-social {
        .symbolset-social();
    }
    &.data-icon-social-circle {
        .symbolset-social-circle();
    }
}
[data-icon-position="before"] {
    &:before,
    > .data-icon {

        // Variables
        @icon-padding: 1em * (5 / 12);

        // Create
        padding-right: @icon-padding;
    }
}
[data-icon-position="after"] {
    &:after,
    > .data-icon {

        // Variables
        @icon-padding: 1em * (5 / 12);

        // Create
        padding-left: @icon-padding;
    }
}
.lte8.js {
    [data-icon-position="before"]:before,
    [data-icon-position="solo"]:before,
    [data-icon-position="after"]:after {
        content: none !important;
        display: none;
    }
}

/*

Body Text

A quick class to help make any element's text look like the site's default body text.

Markup:
<h1 class="body-text">I'm an H1, can you believe it?</h1>

Styleguide 2.4.1

*/

body,
.body-text {

    // Mixins
    .source-sans-regular();
}
code {
    .source-code-pro();
}
dt,
th,
.input-label,
strong {
    font-weight: normal;

    // Mixins
    .source-sans-bold();
}
em {
    font-style: normal;

    // Mixins
    .source-sans-italic();
}
strong em,
em strong {
    font-style: normal;
    font-weight: normal;

    // Mixins
    .source-sans-bold-italic();
}
