
/*

Interactive Elements

*/

/*

button

Default interactive button styles. This `.btn` class can be applied to `<a>`, 
`<button>`, or `<input>` elements. Button color and style classes can be combined 
with size classes, much like the type modules.

````button
<a class="button__btn" href="#">Default</a>
<a class="button__primary" href="#">Primary</a>
<a class="button__danger" href="#">Danger</a>
````

*/

button {
    font-size: 100%;
    margin: 0;
    -webkit-appearance: button;
    display: inline-block;
    cursor: pointer;
    line-height: normal;

    &[disabled] {
        cursor: default;
    }
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.button__base,
[class*="button"] {

    // Baseline
    width: auto;
    height: auto;
    margin: 0;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    position: relative;
    -webkit-appearance: none;
    -webkit-background-clip: padding;
       -moz-background-clip: padding;
            background-clip: padding-box;
    outline: 0;
    overflow: visible;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    background: @light-grey;
    color: @light-black;
    text-align: center; 
    padding: @half-vertical @full-side;
    
    .m-vertical-rhythm__margin-leader();
    
    p > & {
        margin-top: 0;
    }
    
    &:hover,
    &:focus,
    &.is-current {
        background: lighten( @light-grey, 10% );
    }
}

/*

Button Variations

 */

.button__primary {
    &:extend(.button__base all);
    background: @blue;
    color: @white;

    &:hover,
    &:focus,
    &.is-current {
        background: @dark-blue;
    }
}

/*
.button__secondary {}
 */

.button__no-button {
    background: transparent;
    color: inherit;
    border: 0;

    &:hover,
    &:focus,
    &.is-current {
        background: transparent;
        color: inherit;
    }
}

/*

````tiny-button
<a class="button__tiny" href="#">Tiny Button</a>
<a class="button__tiny button__primary" href="#">Tiny Button Primary</a>
<a class="button__tiny button__danger" href="#">Tiny Button Danger</a>
````

*/

/*

````small-button
<a class="button__small" href="#">Small Button</a>
<a class="button__small button__primary" href="#">Small Button Primary</a>
<a class="button__small button__danger" href="#">Small Button Danger</a>
````

*/

/*

````large-button
<a class="button__large" href="#">Large Button</a>
<a class="button__large button__primary" href="#">Large Button Primary</a>
<a class="button__large button__danger" href="#">Large Button Danger</a>
````

*/

.button__tiny {       
    // Mixins
    // @TODO: Extend?
    .m-type__size-for-font(@petite-text-size);

    // Create
    padding: @quarter-vertical @half-side;
}

.button__small {
    // @TODO: Extend?
    .m-type__size-for-font(@petite-text-size);
}

.button__large {
    // @TODO: Extend?
    .m-type__size-for-font(@tertia-text-size);
}

.button__full-width { 
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
