/*

<a class="primary action button">Save</a>

*/

.button	{
	width:						auto;
	height:						auto;
	margin:						0 0 5px 0;
	font:						bold 14px Arial, Helvetica, sans-serif;
	line-height:				normal;
	text-align:					center;
	text-decoration:			none;
	position:					relative;
	-webkit-appearance:			none;
	-webkit-background-clip:	padding;
	   -moz-background-clip:	padding;
			background-clip:	padding-box;
	outline:					0;
	overflow:					visible;
	cursor:						pointer;
	vertical-align:				middle;
	padding:					8px 12px;
	text-shadow:				none;
	color:						#555553;
	background:					#edece7;
	background:					-moz-linear-gradient(top, #ffffff 0%, #edece7 100%);
	background:					-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#edece7));
	background:					-webkit-linear-gradient(top, #ffffff 0%,#edece7 100%);
	background:					-o-linear-gradient(top, #ffffff 0%,#edece7 100%);
	background:					-ms-linear-gradient(top, #ffffff 0%,#edece7 100%);
	background:					linear-gradient(to bottom, #ffffff 0%,#edece7 100%);
	border:						none;
	-webkit-border-radius:		5px;
	-moz-border-radius:			5px;
	border-radius:				5px;
	-webkit-box-shadow:			0px 1px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:			0px 1px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow:					0px 1px 5px 0px rgba(0, 0, 0, 0.5);
	display:					inline-block;
	*display:					inline;
	*zoom:						1;
}
.button:hover,
.button:focus	{
	color:						#555553;
	background:					#c5c4c0;
	background:					-moz-linear-gradient(top, #fefefe 0%, #c5c4c0 100%);
	background:					-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#c5c4c0));
	background:					-webkit-linear-gradient(top, #fefefe 0%,#c5c4c0 100%);
	background:					-o-linear-gradient(top, #fefefe 0%,#c5c4c0 100%);
	background:					-ms-linear-gradient(top, #fefefe 0%,#c5c4c0 100%);
	background:					linear-gradient(to bottom, #fefefe 0%,#c5c4c0 100%);
}
.button:after,
.button:before	{
	position:					relative;
	display:					inline-block;
	*display:					inline;
	*zoom:						1;
}
.button.add:before,
.button.delete:before	{
	width:						15px;
	height:						15px;
	margin:						0 13px 0 0;
	padding:					0;
	font-size:					16px;
	line-height:				1;
	color:						#fff;
	text-align:					center;
	-webkit-box-shadow: 		inset 0px 1px 1px 0px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 			inset 0px 1px 1px 0px rgba(0, 0, 0, 0.65);
	box-shadow: 				inset 0px 1px 1px 0px rgba(0, 0, 0, 0.65);
	-webkit-border-radius: 		4px;
	-moz-border-radius: 		4px;
	border-radius: 				4px;
	vertical-align:				top;
}
.button.add:before	{
	content:					"+";
	background: 				#00bf44;
	background: 				-moz-linear-gradient(top, #00bf44 0%, #008f00 100%);
	background: 				-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00bf44), color-stop(100%,#008f00));
	background: 				-webkit-linear-gradient(top, #00bf44 0%,#008f00 100%);
	background: 				-o-linear-gradient(top, #00bf44 0%,#008f00 100%);
	background: 				-ms-linear-gradient(top, #00bf44 0%,#008f00 100%);
	background: 				linear-gradient(to bottom, #00bf44 0%,#008f00 100%);
}
.button.delete:before	{
	content:					"×";
	background: 				#f75539;
	background: 				-moz-linear-gradient(top, #f75539 0%, #a2160d 100%);
	background: 				-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f75539), color-stop(100%,#a2160d));
	background: 				-webkit-linear-gradient(top, #f75539 0%,#a2160d 100%);
	background: 				-o-linear-gradient(top, #f75539 0%,#a2160d 100%);
	background: 				-ms-linear-gradient(top, #f75539 0%,#a2160d 100%);
	background: 				linear-gradient(to bottom, #f75539 0%,#a2160d 100%);
}
.button.primary,
.button.primary:hover,
.button.primary:focus,
.button.secondary,
.button.secondary:hover,
.button.secondary:focus	{
	color:						#fff;
}
.button.primary	{
	background: 				#00b536;
	background: 				-moz-linear-gradient(top, #00b536 0%, #009300 100%);
	background: 				-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b536), color-stop(100%,#009300));
	background: 				-webkit-linear-gradient(top, #00b536 0%,#009300 100%);
	background: 				-o-linear-gradient(top, #00b536 0%,#009300 100%);
	background: 				-ms-linear-gradient(top, #00b536 0%,#009300 100%);
	background: 				linear-gradient(to bottom, #00b536 0%,#009300 100%);
	border:						1px solid #378f23;
}
.button.primary:hover,
.button.primary:focus	{
	background: 				#006a00;
	background: 				-moz-linear-gradient(top, #00b534 0%, #006a00 100%);
	background: 				-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b534), color-stop(100%,#006a00));
	background: 				-webkit-linear-gradient(top, #00b534 0%,#006a00 100%);
	background: 				-o-linear-gradient(top, #00b534 0%,#006a00 100%);
	background: 				-ms-linear-gradient(top, #00b534 0%,#006a00 100%);
	background: 				linear-gradient(to bottom, #00b534 0%,#006a00 100%);
}
.button.secondary	{
	background: 				#0077bf;
	background: 				-moz-linear-gradient(top, #0077bf 0%, #005098 100%);
	background: 				-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0077bf), color-stop(100%,#005098));
	background: 				-webkit-linear-gradient(top, #0077bf 0%,#005098 100%);
	background: 				-o-linear-gradient(top, #0077bf 0%,#005098 100%);
	background: 				-ms-linear-gradient(top, #0077bf 0%,#005098 100%);
	background: 				linear-gradient(to bottom, #0077bf 0%,#005098 100%);
	border:						1px solid #004385;
}
.button.secondary:hover,
.button.secondary:focus	{
	background: 				#00396c;
	background: 				-moz-linear-gradient(top, #0077bf 0%, #00396c 100%);
	background: 				-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0077bf), color-stop(100%,#00396c));
	background: 				-webkit-linear-gradient(top, #0077bf 0%,#00396c 100%);
	background: 				-o-linear-gradient(top, #0077bf 0%,#00396c 100%);
	background: 				-ms-linear-gradient(top, #0077bf 0%,#00396c 100%);
	background: 				linear-gradient(to bottom, #0077bf 0%,#00396c 100%);
}
.button.action:after	{
	content: 					"▶";
	margin: 					-3px 0 -4px 15px;
	position:					relative;
	width: 						18px;
	height: 					20px;
	-webkit-border-radius: 		1000px;
	-moz-border-radius: 		1000px;
	border-radius: 				1000px;
	text-align: 				center;
	font-size: 					10px;
	line-height: 				22px;
	overflow: 					hidden;
	padding-left: 				2px;
}
.button.primary.action:after	{
	background: 				#24ba4e;
}
.button.secondary.action:after	{
	background: 				#004c85;
}