// Theme
@import "base/_t-font-face.less";
@import "base/_t-font-face-applied.less";
@import "base/_t-type.less";
@import "base/_t-buttons.less";
@import "base/_t-modules.less";
@import "base/_t-forms.less";
@import "base/_t-tables.less";

// Custom Styles
.wrapper {
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}