.overflow-list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}
.overflow-list__item {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    position: relative;
}
@media @medium-screens-min {
    .overflow-list--until-medium {
        overflow: visible;
        white-space: normal;
    }
};
@media @large-screens-min {
    .overflow-list--until-large {
        overflow: visible;
        white-space: normal;
    }
};
@media @x-large-screens-min {
    .overflow-list--until-x-large {
        overflow: visible;
        white-space: normal;
    }
};