/*

Wrapper

This is the site-wide containing class. Put it around anything you want to be
contained in the "site width". By default, caps off at `1150px`.

*/
.wrappers__wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;

    @media @x-large-screens-min {
        width: 80%;
        max-width: 1150px;
    }
}
