.new-heading
{
	background-color:#464646;
	color:#ffffff;
	padding:8px 12px;
	font-size:12px;
	font-weight:bold;
}

.searchFilterButton{
	display:block;
	width:31px;
	height:31px;
	background: transparent url(/resources/images/admin/sprites-buttons.jpg) 0px 0px no-repeat;
}

.searchFilterButton:hover{
	background: transparent url(/resources/images/admin/sprites-buttons.jpg) -96px 0px no-repeat;
}

.call-box{
	padding:15px 12px;
	border-bottom:1px solid #d4d4d4;
	color:#a5a5a5;
}

	.call-box h2{
		color:#5c5c5c;
		margin-top:0px;
		padding-top:0px;
	}
	
	.call-box h3{
		margin:0px;
		font-size:14px;
	}
	
	.call-box .text-input{
		margin-top:7px;
		margin-bottom:8px;
	}
	
		.call-box .text-input input{
			height:27px;
			border:1px solid #c2c2c2;
			font-size:10px;
			color:#a5a5a5;
			padding-left:6px;
			width:100%;
			display:block;
		}
		
		.call-box .text-input input:focus{
			border:1px solid #9c9c9c;
		}
	
		.call-box .text-input .col1
		{
			margin-right:31px;
			background-color:#ff0000;
			float:none;
			width:auto;
		}
		
		.call-box .text-input .col2{
			float:right;
			width:31px;
		}
		
			.call-box .text-input .col2 span{
				display:none;
			}
	
	.call-box .helper-text{
		font-size:11px;
		line-height:14px;
	}

.list-view{
	margin-top:25px;
}
	
	.list-view .col1{
		float:left;
		width:20.5%;
		margin-right:1.5%;
	}
	
	.list-view .col2{
		float:right;
		width:78%;
	}
	
.alertwindow .list-view .col1-1{
	width:30%;
	float:left;
	margin-right:1.5%;
}

.alertwindow .list-view .col2-1{
	width:67%;
	float:right;
	margin-right:1.5%;
}

.picker-display{
	font-size:11px; 
	margin-bottom:5px; 
	display:none; 
	color:#363636;
	background-color:#fff;
	text-align:left;
	margin-bottom:10px;
}
	.picker-display th{
		background-color:#636363;
		color:#fff;
		padding:5px;
	}
	
	.picker-display td{
		padding:10px;
	}

.alertwindow .maindata {font-size:12px; line-height:20px; color:#7f7f7f;}
.alertwindow .maindata td {padding:15px 15px 20px 15px; border-bottom:#d6d6d6 1px solid; vertical-align:top;}
.alertwindow .maindata .titles {background:#e7f2f7; color:#424242; font-size:12px; line-height:24px; font-weight:bold; cursor:pointer;}
.alertwindow .maindata .titles td {border-bottom:none; padding:5px 15px;}
.alertwindow .maindata .dark {background:#f3f3f3;}
.alertwindow .maindata tbody tr:hover {background:#e9fddd;}
.alertwindow .maindata .user {font-size:14px; line-height:22px;}
.alertwindow .maindata .user a {color:#20679f; font-weight:bold; text-decoration:none;}
.alertwindow .maindata .user a:hover {color:#20679f; font-weight:bold; text-decoration:underline;}
	
.small{font-size:10px; color:#666;}

.create-new
{
	
}

	.create-new .contentType
	{
		display:block;
		width:192px;
		height:40px;
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -3px -221px no-repeat;
	}
	
	.create-new .contentType:hover{
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -197px -221px no-repeat;
	}
	
	.create-new .workflow
	{
		display:block;
		width:192px;
		height:40px;
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -3px -349px no-repeat;
	}
	
	.create-new .workflow:hover{
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -196px -349px no-repeat;
	}
	
	.create-new .content
	{
		display:block;
		width:192px;
		height:40px;
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -3px -309px no-repeat;
	}
	
	.create-new .content:hover{
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -197px -309px no-repeat;
	}
	
.step-list{
	margin-top:10px;
	background: #e7f2f7;
	padding:15px 13px;
}

	.step-list span{
		background: transparent url(/resources/images/admin/list-background.jpg) 0px 0px no-repeat; list-style:none; padding-bottom:2px;
		display:block;
		width:35px;
		height:32px;
		font-size:24px;
		color:#ffffff;
		text-align:center;
		padding-top:3px;
		float:left;
	}
	
	.step-list h3{
		margin:0px; padding:0px;
		font-size:18px;
		font-weight:normal;
	}
	
	.step-list .col2{
		float:left;
		margin-left:10px;
	}
	
	.step-list .helper{
		color:#505050;
		font-size:14px;
		
	}
	
.full-forms{

}

	.full-forms .new_form_field{
	
	}
	
		.full-forms .new_form_field .col1{
			font-size:14px; 
			color:#525252;
			float:left;
			width:22%;
			padding:25px 15px;
		}
				
			.full-forms .new_form_field .col1 .note{
				font-size:11px; color:#9c9c9c; font-weight:normal;
			}
		
		.full-forms .new_form_field .col2{
			float:left;
			width:41%;
			margin:25px 15px;
			background-color:#eaeaea; -moz-border-radius: 10px 10px 10px 10px;
			padding:5px 5px;
		}
		
		.full-forms .new_form_field .no-style{
			float:left;
			width:41%;
			margin:25px 15px;
			background:none;
			padding:5px 5px;
		}
		
		.full-forms .new_form_field .wide-form{
			width:95%;
			margin:15px 5px;
			background-color:#eaeaea; -moz-border-radius: 10px 10px 10px 10px;
			padding:5px 5px;
		}
		
		
		.new_form_field input{width:96.5%; height:22px; border:1px solid #a0bbce; padding:3px 7px; font-size:14px; color:#848484; -moz-border-radius: 5px 5px 5px 5px;}
		.new_form_field input:focus{border:1px solid #26a027; background-color:#eafeea;}
		.new_form_field input.hint{color:#c9c9c9; font-style:italic;}
		.new_form_field select{width:100%; height:28px; border:1px solid #a0bbce; padding:3px 7px; font-size:14px; color:#848484; -moz-border-radius: 5px 5px 5px 5px;}
		.new_form_field textarea{width:96.5%; height:100px; border:1px solid #a0bbce; padding:3px 7px; font-size:14px; color:#848484; -moz-border-radius: 5px 5px 5px 5px;}
		.new_form_field textarea:focus{border:1px solid #26a027; background-color:#eafeea;}
		
		.full-forms .new_form_field .wide-form input{
			width:98%;
		}
		
		
		
		.full-forms .new_form_field .col3{
			float:left;
			width:25%;
			padding:25px 15px;
		}
		
	.full-forms .dark{
		background:#f6f6f6;
	}
	
	.full-forms .error {background:#fee5e5;}
	.full-forms .error .col2{background-color:#cd4e47;}
	
.helper-faq{
	font-size:12px; 
	margin-bottom:15px; 
	line-height:16px;
}

.helper-title{
	font-size:14px;
	color:#636363;
	font-weight:bold;
}

.inline-listing
{
	margin:30px;
}

	.inline-listing .empty
	{
		background-color:#fcfcc1;
		padding:30px;
		font-size:14px;
		text-align:center;
		font-weight:bold;
		color:#636363;
	}
	
	.inline-listing .add
	{
		background-color:#fcfcc1;
		padding:10px;
		font-size:14px;
		margin-top:20px;
	}
	
.inline-form{
	background-color:#fcfcc1;
	padding:30px;
}
	.inline-form .inline-background{background-color:#363636; padding:20px;}

	.inline-form .inline-heading
	{
		color:#ffffff;
		font-size:18px;
	}
	
	.inline-form .input-description{
		font-size:14px;
		font-weight:normal;
		color:#ffffff;
	}
	
	.inline-form .input-heading{
		float:left;
		width:22%;
		padding:20px 15px;
		font-size:14px; 
		font-weight:bold;
		color:#636363
	}
	
		.inline-form .input-heading .note{
			font-size:12px;
			font-weight:normal;
		}
	
	.inline-form .input-field{
		float:left;
		width:53%;
		margin:20px 15px;
		background-color:#eaeaea; -moz-border-radius: 10px 10px 10px 10px;
		padding:3px 5px;
	}
	
	
		.inline-form .input-field input{width:96.5%; height:22px; border:1px solid #a0bbce; padding:3px 7px; font-size:14px; color:#848484; -moz-border-radius: 5px 5px 5px 5px;}
		.inline-form .input-field input:focus{border:1px solid #26a027; background-color:#eafeea;}
		.inline-form .input-field input.hint{color:#c9c9c9; font-style:italic;}
		.inline-form .input-field select{width:100%; height:28px; border:1px solid #a0bbce; padding:3px 7px; font-size:14px; color:#848484; -moz-border-radius: 5px 5px 5px 5px;}
		.inline-form .input-field textarea{width:96.5%; height:100px; border:1px solid #a0bbce; padding:3px 7px; font-size:14px; color:#848484; -moz-border-radius: 5px 5px 5px 5px;}
		.inline-form .input-field textarea:focus{border:1px solid #26a027; background-color:#eafeea;}
	
	.inline-form .input-error{
		float:left;
		width:15%;
		padding:20px 15px;
	}
	
	.inline-form .dark-inline{background-color:#f6f6f6;}
	.inline-form .light-inline{background-color:#ffffff;}
	
.errorMsg
{
	background-color:#a31b13;
	color:#ffffff;
	margin-bottom:5px;
	padding:10px;
	font-size:11px;
	font-weight:bold;
}

.graybox input:focus{border:1px solid #26a027; background-color:#eafeea;}

.inline-listing{

}

.inline-table{
	
}

	.inline-table td
	{
		border-bottom:1px solid #e2e2e2;
		padding:20px 10px;
		font-size:12px;
		color:#636363;
	}
	
		.inline-table td strong
		{
			font-size:14px;
		}

	.inline-table .group-heading td
	{
		background-color:#6c6c6c;
		color:#ffffff;
		font-weight:bold;
		font-size:12px;
		padding:10px;
	}
	
		.inline-table .group-heading td a
		{
			color:#fff;
		}
		
		.inline-table .group-heading td a:hover
		{
			color:#c9c9c9;
		}
	
	.inline-table .dataType{
		background:#0a8e0a;
		color:#ffffff;
		font-size:10px; line-height:20px; color:#fff; padding:3px 5px;
		margin-left:5px;
	}
	
.create_buttons span{
	display:none;
}

.cancel_buttons{
	float:left;
	padding-top:5px;
}

.create_content_type{
	float:left;
	width:200px;
}

	.create_content_type a{
		display:block;
		width:193px;
		height:35px;
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -1px -68px no-repeat;
	}
	
	.create_content_type a:hover{
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -195px -68px no-repeat;
	}
	
.create_content{
	float:left;
	width:166px;
}

	.create_content a{
		display:block;
		width:159px;
		height:35px;
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -1px -32px no-repeat;
	}
	
	.create_content a:hover{
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -161px -32px no-repeat;
	}
	
.create_workflow_rule{
	float:left;
	width:166px;
}

	.create_workflow_rule a{
		display:block;
		width:159px;
		height:35px;
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -2px -395px no-repeat;
	}
	
	.create_workflow_rule a:hover{
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -162px -395px no-repeat;
	}
	
.auto-item{
	border-bottom:1px solid #e2e2e2;
	font-weight:bold;
	font-size:12px;
	color:#636363;
}

	.auto-item .auto-item-padding{
		padding:10px 15px;
		line-height:1.2;
	}

.auto-item:hover{color:#636363; cursor:pointer;}

	.auto-item .auto-item-desc{
		font-weight:normal;
		font-size:10px;
		color:#9c9c9c;
		font-style:italic;
	}
	
	.auto-item .auto-item-name{
		font-weight:normal;
		font-size:11px;
		color:#777;
		padding-top:4px;
	}
	
	.auto-item .auto-item-url{
		font-weight:normal;
		font-size:10px;
		color:#9c9c9c;
	}

.auto-item-heading{
	background-color:#555;
	color:#fff;
	font-size:12px;
	font-family:Arial;
	padding:5px;
	font-weight:bold;
	text-transform:uppercase;
}

.auto-item-wrapper{
	padding-left:50px;
}

	.auto-item-wrapper .auto-item-icon{
		margin-left:-50px;
		float:left;
	}

.auto-item-clear{
	clear:both;
}
	
.sort-ASC{
	background-image:url(/resources/images/admin/sort-asc.png);
	background-repeat:no-repeat;
	background-position:3px center;
}

.sort-DESC{
	background-image:url(/resources/images/admin/sort-desc.png);
	background-repeat:no-repeat;
	background-position:3px center;
}

.autocomplete-list{margin:5px;}
.autocomplete-list ul{margin:0px; padding:0px; border-top:1px solid #eaeaea;}
.autocomplete-list ul li{list-style:none; margin:0px; padding:0px; border-bottom:1px solid #eaeaea;}
.autocomplete-list ul li a{display:block; padding:13px 2px; font-size:14px;}
.autocomplete-list ul li a:hover{background-color:#f0f0f0;}

.autocomplete-high{color:#363636; background-color:#fcfcc1;}

.instant-guide{
	color:#363636; background-color:#fcfcc1;
	font-size:18px;
	padding:30px;
	text-align:center;
	font-family:Helvetica, Arial;
}

.instant-loader{
	padding:2px 0px 2px 25px;
	background-image:url(/resources/images/admin/instantAjaxLoader.gif);
	background-repeat:no-repeat;
	color:#9c9c9c;
	font-size:11px;
	font-style:italic;
	display:none;
}

.instant-success{
	background-image:url(/resources/images/admin/success-checkmark.jpg); 
	background-repeat:no-repeat; 
	color:#32a732; 
	font-weight:bold; 
	font-size:12px; 
	padding-top:2px; 
	padding-bottom:3px; 
	padding-left:25px; 
	margin-top:0px;
}

.navigation-note{
	color:#363636; 
	font-size:12px;
	margin-bottom:15px;
	background-color:#d8fbc3;
	padding:10px;
	display:none;
}

.navigation-form-outer{display:none;}

.navigation-form{
	border-top:1px solid #ffffff;
	margin-top:10px;
	padding:20px 20px 10px;
	border-bottom:1px solid #ffffff;
}

	.navigation-form .navigation-form-field{
		margin-bottom:10px;
	}
	
		.navigation-form .navigation-form-field .col1{
			float:left;
			width:20%;
			font-size:10px;
		}
		
			.navigation-form .navigation-form-field .col1 strong{
				display:block;
				font-size:11px;
			}
		
		.navigation-form .navigation-form-field .col2{
			float:left;
			width:80%;
		}
		
			.navigation-form .navigation-form-field .col2 #navigationAnchor{
				width:50%;
				padding:5px;
				font-size:12px;
				font-family:Arial;
				color:#636363;
			}
			
.navigation-form-button
{
	padding:5px 0px 0px;
}
			
	.navigation-form-button input{
		font-size:11px;
		font-family:Arial;
		color:#636363;
	}
	
.sml{
	font-size:10px;	
}

.section-loader{
	margin-top:10px;
	padding:2px 0px 2px 25px;
	background-image:url(/resources/images/admin/instantAjaxLoader.gif);
	background-repeat:no-repeat;
	color:#9c9c9c;
	font-size:11px;
	font-style:italic;
}

.hideSection{display:none;}

.section-list
{
	font-size:12px;	
	margin-top:10px;
}

	.section-list ul{
		margin:0px;
		padding:0px;
		margin-top:2px;
		margin-left:8px;
		border-left:1px solid #e2e2e2;
	}
	
		.section-list ul li{
			padding-top:2px;
			list-style:none;	
		}
		
	.section-list a{
		font-weight:normal;
		color:#9c9c9c;
	}
	
	.section-list a:hover{
		text-decoration:underline;
	}
	
	.section-list .activeSection
	{
		font-weight:bold;
	}
	
	.section-list .plusMinus{
		cursor:pointer;
		float:left;
		width:26px;
		margin-right:6px;
	}
	
	.section-list .inputCheckbox{
		width:25px;
		float:left;
	}
	
	.section-list .anchorLink{
		margin-left:32px;
	}
	
.errornote{display:none;}

.notifySave{display:none;}

.notifySave
{
	background-color:#fcfcc1;
	color:#636363;
	font-weight:bold;
	background-image:url(/resources/images/admin/instantAjaxLoader.gif);
	background-repeat:no-repeat;
	background-position:10px 15px;
	margin-top:10px;
	font-size:11px;
	padding:10px 10px 10px 35px;
}

.navigation-drag td{
	opacity:0.3;
	filter:alpha(opacity=30);
}

.input-loader{
	padding-left:3px;
	display:none;
}

.input-customize{
	background-color:#fcfcc1;
	padding:10px;
	margin-top:10px;
	font-size:12px;
	display:none;
}

	.input-customize .input-customize-heading{
		background-color:#7c7c7c;
		margin-bottom:5px;
		color:#fff;
		padding:4px;
	}
	
	.input-customize .input-customize-options{
		font-size:11px;
		padding:5px;
	}
	
		.input-customize .input-customize-options .input-heading{
			font-weight:bold;
		}
		
		.input-customize .input-customize-options .input-checklist input{
			width:40px;
		}
		
		.input-customize .input-customize-options .input-checklist ul{
			margin:0px;
			padding:0px;
			margin-top:10px;
		}
		
			.input-customize .input-customize-options .input-checklist ul li{
				margin:0px;
				padding:0px;
				list-style:none;
				font-size:10px;
			}
			
.contentTypes
{
	background-color:#fcfcc1;
	color:#363636;
	font-weight:bold;
	margin-bottom:5px;
	font-size:11px;
	padding:10px 10px 10px 15px;
}

.cur_table{
	
}

.cur_table th{
	background-color:#636363;
	color:#fff;
	font-size:10px;
	text-transform:uppercase;
}

.cur_table td{
	font-size:12px;
	color:#636363;
	padding:8px;
	height:36px;
}

	.cur_table .action-button{
		background-color:#fcfcc1;
		text-align:center;
	}

.cur_table .year td
{
	background-color:#636363;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}

.cur_table .year th
{
	background-color:#0a8e0a;
}

.cur_table .term td
{
	background-color:#9c9c9c;
	color:#fff;
	font-size:12px;
	font-weight:bold;
}

.cur_table .term th
{
	background:#8e0a77;
}


.cur_table .title td
{
	background-color:#efefef;
	color:#666;
	font-size:11px;
}

.cur_table .title th
{
	background:#0375a4;
}

.cur_table tr:hover td
{
	background-color:#fcfcc1;
	color:#636363;
	cursor:move;
}

.cur_table_edit_head{
	font-size:14px;
	font-weight:bold;
}

.cur_table_edit_desc{
	font-weight:normal;
	font-size:10px;
}

.cur_table_edit_input_heading{
	margin-top:5px;
	font-size:12px;
	font-weight:bold;
}

.cur_table_edit_submit{
	margin-top:5px;
}

.cur_table .cur_table_active_edit td{
	background-color:#fcfcc1;
	color:#636363;
}

.cur_table .add{
	cursor:pointer;	
}

.cur_table .add:hover th{
	background-color:#fcfcc1;
	cursor:pointer;
}

.cur_table .add th{
	background-color:#c9c9c9;
	font-style:italic;
	color:#9c9c9c;
	cursor:pointer;
}

.cur_table .add td{
	color:#9c9c9c;
	font-weight:normal;
	background-color:#e2e2e2;
	font-style:italic;
	font-size:14px;
	cursor:pointer;
}

.cur-ul{
	margin:0px;
	padding:0px;
}

.cur-ul ul{
	margin-left:50px;
}

.cur-ul li{
	list-style:none;
	margin:0px;
	padding:0px;
}

.cur-ul li div{
	cursor:move;
}
	.cur-ul li.year-li{
		color:#fff;
		font-size:14px;
		font-weight:bold;
	}
	
	.cur-ul li .title{
		float:left;
		font-size:10px;
		text-transform:uppercase;
		width:38px;
	}
	
		.cur-ul li .title div{
			padding:15px 5px 0px;
			min-height:29px;
		}
	
	.cur-ul li .name{
		float:left;
		width:85%;
		margin-left:-39px;
	}
	
		.cur-ul li .name div{
			margin-left:39px;
			min-height:30px;
			padding:14px 5px 0px;
		}
		
	.cur-ul li .edit{
		float:left;
		width:15%;
		text-align:right;
	}
	
		.cur-ul li .edit div{
			min-height:30px;
			padding:14px 5px 0px;
		}
		
			.cur-ul li .edit div img{
				display:none;
				cursor:pointer;
			}
	
	.cur-ul li.year-li .title{
		background-color:#0a8e0a;
	}
	
	.cur-ul li.year-li .name div{
		background-color:#636363;
	}
	
	.cur-ul li.year-li .edit div{
		background-color:#636363;
	}
	
	.cur-ul li.term-li .title{
		background:#8e0a77;
	}
	
	.cur-ul li.term-li .name div{
		background-color:#9c9c9c;
		font-size:12px;
	}
	
	.cur-ul li.term-li .edit div{
		background-color:#9c9c9c;
		font-size:12px;
	}
		
	.cur-ul li.title-li .title{
		background:#0375a4;
	}
	
	.cur-ul li.title-li .name div{
		background-color:#efefef;
		color:#636363;
		font-size:12px;
		font-weight:normal;
	}
	
	.cur-ul li.title-li .name{
		width:65%;
	}
	
	.cur-ul li.title-li .credit{
		float:left;
		width:20%;
		background-color:#efefef;
		color:#636363;
		font-size:12px;
		font-weight:normal;
		
	}
	
		.cur-ul li.title-li .credit div{
			min-height:36px;
			padding:7px 5px 0px;
		}
		
	.cur-ul li.title-li .edit div{
		background-color:#efefef;
		color:#636363;
		font-size:12px;
		font-weight:normal;
	}
	
	.cur-ul li.add{
		color:#9c9c9c;
		font-weight:normal;
		background-color:#e2e2e2;
		font-style:italic;
		font-size:14px;
		cursor:pointer;
	}
	
	.cur-ul li.add div{
		cursor:pointer;
	}
		
	.cur-ul li.add{
		cursor:pointer;
		color:#9c9c9c;
	}
	
		.cur-ul li.add .title div{
			background-color:#e2e2e2;
			cursor:pointer;
			text-align:center;
			color:#9c9c9c;
		}
				
		.cur-ul li.add .name div{
			background-color:#e2e2e2;
			cursor:pointer;
			color:#9c9c9c;
		}
		
		.cur-ul li.add .credit div{
			background-color:#e2e2e2;
			cursor:pointer;
			color:#9c9c9c;
		}
		
		.cur-ul li.add .edit div{
			background-color:#e2e2e2;
			cursor:pointer;
			color:#9c9c9c;
		}
		
		.cur-ul li .hoverRow .edit div{
			background-color:#fcfcc1;
			color:#636363;
		}
		
		.cur-ul li .hoverRow .name div{
			background-color:#fcfcc1;
			color:#636363;
		}
		
		.cur-ul li .hoverRow .credit div{
			background-color:#fcfcc1;
			color:#636363;
		}
		
		.cur-ul li .edit-row .edit-it{
			float:left;
			width:100%;
			margin-left:-39px;
		}
		
		.cur-ul li .edit-row .edit-it .edit-it-div{
			margin-left:39px;
			background-color:#fcfcc1;
			min-height:36px;
			padding:7px 5px 0px;
			color:#636363;
		}
		
		.edit-row{
			display:none;
		}

.control-picker-ajax{
	margin-left:15px;
}

.site_designer{
	height:100%;
	width:100%;
}
	
	.site_designer .leftcontrols{
		width:23%;
		background-color:#e0e0e0;
		float:left;
		background-image:url(/resources/images/admin/site_designer_right_background.jpg);
		background-repeat:repeat-y;
		background-position:top right;
		height:100%;
		overflow-y: auto;
	}
	
		.site_designer .leftcontrols .leftcontrols_padding
		{
			padding:10px;
		}
		
		.site_designer .leftcontrols .alert
		{
			font-size:18px;
			margin-bottom:0px;
		}
		
		.site_designer .leftcontrols p
		{
			margin-top:0px;
			margin-bottom:0px;
			font-size:10px;
		}
	
	.site_designer .rightdesign{
		width:77%;
		background-color:#fff;
		float:left;
		height:100%;
	}
	
		.site_designer .rightdesign .rightdesign_padding{
			padding:25px 35px;
		}
		
.controls_drop_active{
	background-color:#fcfcc1;
}

.design_drop{
	border:1px solid #e2e2e2;
	margin-top:15px;
	overflow-y: auto;
}

.design_drop .label{
	padding:5px;
	color:#fff;
	background-color:#e30090;
	text-transform:uppercase;
	font-size:10px;
	float:right;
	z-index:1000;
	position:relative;
}

.design{
	margin-bottom:10px;
}

.disabled{
	background-color:#f3f3f3;
}

.disabled .label{
	background-color:#9c9c9c;
}

.site_design_item_list{
	padding:0px 10px;
	z-index:99;
	position:relative;
}

.site_design_item_list li{
	display:block;
	list-style:none;
	padding:0px;
	margin:0px;
	margin-bottom:10px;
	border-left:20px solid #a5a5a5;
	background-color:#e2e2e2;
	padding:10px;
	color:#666666;
	font-size:11px;
	font-style:italic;
	position:relative;
	z-index:100;
}

.site_design_item_list li strong{
	display:block;
	font-weight:bold;
	font-style:normal;
	font-size:14px;
}

.site_design_item_list li .call_out_control{
	position:absolute;
	bottom:0;
	right:0;
	background-color:#c9c9c9;
	padding:5px;
	display:none;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.control_list{
	margin:0px;
	padding:0px;
}

.control_list li{
	margin:0px;
	padding:0px;
	display:block;
	text-align:center;
	list-style:none;
	border:2px solid #c9c9c9;
	padding:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:15px 15px 0px;
}

	.control_list li .control_list_interior
	{
		background-color:#fff;	
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
		.control_list li .control_list_interior span
		{
			display:block;
			background-color:#666666;
			color:#fff;
			font-size:11px;
			font-weight:bold;
			padding:6px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			-moz-border-radius-bottomleft: 5px;
		}
		
li.ui-draggable-dragging{
	margin:0px;
	padding:0px;
	display:block;
	text-align:center;
	list-style:none;
	border:2px solid #c9c9c9;
	padding:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:15px 15px 0px;
}

	li.ui-draggable-dragging .control_list_interior
	{
		background-color:#fff;	
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
		li.ui-draggable-dragging .control_list_interior span
		{
			display:block;
			background-color:#666666;
			color:#fff;
			font-size:11px;
			font-weight:bold;
			padding:6px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			-moz-border-radius-bottomleft: 5px;
		}

.workflow-path{
	line-height:30px;
}

	.workflow-path select{
		border:1px solid #a0bbce; 
		padding:3px 3px 3px 7px; 
		font-size:14px; 
		color:#848484; 
	}

	.workflow-path .workflow-path-operator
	{
		font-size:18px;
		background-color:#f0f0f0;
		padding:3px;
		margin-right:5px;
		cursor:pointer;
	}
	
		.workflow-path .workflow-path-operator:hover
		{
			background-color:#FCFCC1;
		}
	
	.inline-table td.workflow-path-num{
		font-size:24px;
		color:#c9c9c9;
	}
	
	.workflow-path .workflow-path-people{
		display:none;
		margin-left:7px;
		font-size:14px;
		background-color:#FCFCC1;
		color:#636363;
		padding:5px;
	}
	
	.workflow-people-manage{
		background-color:#e2e2e2;
		color:#636363;
		padding:10px;
		margin-top:10px;
		display:none;
	}
	
	.workflow-people-manage h2{
		color:#363636;
	}
	
	.workflow-people-manage .conversion{
		margin-top:5px;
	}
	
	.workflow-people-manage .workflow-people-item{
		margin-top:10px;
		padding:10px;
		background-color:#d0d0d0;
	}
	
		.workflow-people-manage .workflow-people-item input{
			border:1px solid #a0bbce; 
			padding:3px 3px 3px 7px; 
			font-size:14px; 
			color:#848484; 
			width:450px;
		}
		
		.workflow-people-manage .workflow-people-item .workflow-people-remove{
			float:right;
			margin-top:4px;
		}
	
		.workflow-people-manage .workflow-people-item .workflow-path-operator
		{
			font-size:18px;
			background-color:#636363;
			padding:3px;
			margin-right:5px;
			cursor:pointer;
			color:#f0f0f0;
		}
		
			.workflow-people-manage .workflow-people-item .workflow-path-operator:hover
			{
				background-color:#9c9c9c;
			}
			
	.workflow-add{
		margin-top:10px;
		background-image:url(/resources/images/admin/icon_add_small.png);
		background-repeat:no-repeat;
		background-position:center left;
		padding-left:25px;
		font-size:12px;
		padding-top:1px;
		padding-bottom:1px;
	}
	
.save_draft{
	float:left;
	width:136px;
}

	.save_draft a{
		display:block;
		width:129px;
		height:35px;
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -2px -467px no-repeat;
	}
	
	.save_draft a:hover{
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -132px -467px no-repeat;
	}
	
.save_and_publish{
	float:left;
	width:166px;
}

	.save_and_publish div{
		font-size:10px;
		line-height:1.4;
		margin-top:5px;
	}
	
		.save_and_publish div a{
			width:auto;
			height:auto;
			display:inline;
			background:none;
		}
		
		.save_and_publish div a:hover{
			background:none;
		}

	.save_and_publish a{
		display:block;
		width:159px;
		height:35px;
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -2px -431px no-repeat;
	}
	
	.save_and_publish a:hover{
		background: transparent url(/resources/images/admin/sprites-buttons.jpg) -162px -431px no-repeat;
	}
	
.relative-save-footer{
	background-color:#212121;
	border-top:2px solid #e2e2e2;
	position:fixed;
	left:0px;
	padding-left:45px;
	
}

.relative-save-footer a{
	color:#fff;
}

	.relative-save-footer .create_buttons a{
		border:2px solid #fff;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius:4px;	
	}
	
	.relative-save-footer .create_buttons div a{
		border:0px;
	}
	
.approve-workflow-path{
	margin-top:10px;
	margin-bottom:10px;
}

	.approve-workflow-path td{
		border-bottom:2px solid #fff;
		background-color:#f0f0f0;
		border-right:2px solid #fff;
		padding:10px;
		font-size:12px;
		color:#636363;
		font-weight:bold;
	}
	
.notifications{
	float:right;
	margin-right:10px;
}

	.notifications a{
		display:block;
		width:31px;
		background-image:url(/resources/images/admin/notifications-off.png);
		background-repeat:no-repeat;
		background-position:center center;
		height:31px;
		margin-top:10px;
		text-align:right;
		z-index:1001;
		position:relative;
	}
	
	.notifications a:hover{
		background-color:#363636;
	}
	
	.notifications a.active{
		background-image:url(/resources/images/admin/notifications-on.png);
	}
	
	.notifications a.drop{
		border-top:1px solid #e2e2e2;
		border-left:1px solid #e2e2e2;
		border-right:1px solid #e2e2e2;
		background-color:#fff;
	}
	
		.notifications a.drop .notifications-alert{
			display:none;
		}
	
	.notifications .notifications-alert{
		background-color:#c90202;
		padding:1px 3px;
		color:#fff;
		font-weight:normal;
		font-size:10px;
	}
	
	.notifications .notifications-panel{
		width:250px;
		background-color:#fff;
		position:absolute;
		margin-left:-219px;
		margin-top:-1px;
		border:1px solid #e2e2e2;
		z-index:1000;
		font-size:12px;
		font-family:Arial;
		display:none;
	}
	
		.notifications .notifications-panel .notifications-heading
		{
			font-weight:bold;
			padding:5px;
		}
		
		.notifications .notifications-panel .notifications-see a
		{
			width:auto;
			height:auto;
			display:block;
			background:none;
			text-align:center;
			padding:10px;
			border-top:1px solid #e2e2e2;
			font-size:11px;
			background-color:#f0f0f0;
			margin-top:0px;
		}
		
		.notifications .notifications-panel .notification-item{
			border-top:1px solid #e2e2e2;
			padding:10px;
			font-size:11px;
			color:#636363;
		}
		
			.notifications .notifications-panel .notification-item a{
				display:inline;
				width:auto;
				margin:0px;
				padding:0px;
				height:auto;
				background:none;
			}
			
			.notifications .notifications-panel .notification-item .notification-time{
				font-size:10px;
				color:#9c9c9c;
				margin-top:2px;
			}
			
.mainbody .rightcol .workflow{
	margin:0px;
	width:auto;
}

.mainbody .rightcol .workflow .rollover{
	text-align:left;
}

.schedule-calendar{
	position:absolute;
	top:-268px;
	background-color:#e2e2e2;
	border:1px solid #c9c9c9;
	padding:10px;
	display:none;
	color:#363636;
	margin-left:-139px;
}

	.schedule-calendar span{
		display:inline;
	}
	
	.create_buttons .schedule-calendar a{
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius:0px;	
	}
	
	.create_buttons .schedule-calendar .ui-timepicker-div a:hover{
		background-color:#c9c9c9;
	}
	
	.schedule-calendar .start-date{
		float:left;
		margin-right:10px;
	}
	
	.schedule-calendar .end-date{
		float:left;
		
	}
	
	.schedule-calendar .ui-datepicker .ui-datepicker-next span{
		display:block;
	}
	
	.schedule-calendar .ui-datepicker .ui-datepicker-prev span{
		display:block;
	}
	
	.schedule-calendar .str{
		font-size:12px;
		padding-top:0px;
		padding-left:10px;
		display:block;
	}
	
	.schedule-calendar .ui-datepicker-buttonpane{
		display:none;
	}
	
	.schedule-calendar .close-box{
		position:absolute;
		right:5px;
		top:0px;
	}
	
	.schedule-calendar .schedule-button{
		padding-top:10px;
	}
	
	.schedule-calendar .schedule-button a{
		background-color:#39ab39;
		color:#fff;
		padding:5px;
		font-weight:bold;
		font-size:11px;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	.schedule-calendar .schedule-button a:hover{
		background-color:#058b04;
	}
	
	.schedule-calendar .schedule-no{
		background-color:#fff;
		padding:5px;
	}
	
		.schedule-calendar .schedule-no a{
			color:#20679f; text-decoration:underline;
		}
		
		.schedule-calendar .schedule-no a:hover{
			color:#df408b; text-decoration:underline;
		}
		
	.schedule-calendar .schedule-no-text{
		display:none;
		font-size:11px;
		font-style:italic;
		margin-top:5px;
		width:192px;
	}
	
	.schedule-notify div{
		font-style:italic;
		padding:5px;
	}
	
#versions .bluebox{
	margin:0px;
}

.alert_version .maindata td{
	padding:0px;
	border-bottom:1px solid #fff;
}

.alert_version{
	width:100%;
}

.unpublish{
	
}

	.unpublish .option a{
		float:left;
		width:200px;
		display:block;
		margin-right:5px;
		background-color:#f3f3f3;
		font-size:10px;
		padding:10px;
		color:#9c9c9c;
	}
	
	.unpublish .option a:hover{
		background-color:#e2e2e2;
	}
	
	.unpublish .option a.active{
		background-color:#fcfcc1;
	}
	
		.unpublish .option a div{
			text-align:center;
		}
		
		.unpublish .option a strong{
			font-size:14px;
			display:block;
			color:#636363;
		}

.workflow-call-action{
	font-size:12px;
}

	.workflow-call-action ul{
		list-style:none;
		margin:0px;
		padding:0px;
		margin-bottom:15px;
	}

	.workflow-call-action li{
		list-style:none;
		margin:0px;
		padding:0px;
		padding-bottom:5px;
	}
	
.loginform .formfield{
	height:auto;
	position:static;
	background:none;
	margin:0px;
	width:auto;
	padding-left:4px;
	padding-top:4px;
}

	.loginform .formfield input{
		height:auto;
		border:1px solid #9fbbcd;
		margin:0px;
		width:325px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	
	.loginform .formfield input:focus{
		height:auto;
		border:1px solid #547285;
		margin:0px;
		width:325px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	
.header .row3 .leftnav li.notifi a {background:url(../../images/admin/nav_notifications.gif) top left no-repeat;}
.header .row3 .leftnav li.notifi a:hover {background:url(../../images/admin/nav_notifications.gif) top left no-repeat #161515;}
.header .row3 .leftnav li.notifi a.dd {background:url(../../images/admin/nav_notifications.gif) top left no-repeat #fff; color:#999;}

.filterreset{
	display:none;
}

.edit-content-link{
	font-size:14px;
	font-style:italic;
}

.edit-content-content-type{
	font-size:12px;
	color:#9c9c9c;
	margin-top:5px;
}

.edit-content-content-type span{
	font-size:12px;
	color:#363636;
	background-color:#fcfcc1;
	padding:3px;
	font-weight:bold;
	
}

.forgot-password{
	font-size:12px;
	margin-top:25px;
	text-align:right;
	margin-right:15px;
}

.forgot .box{
	height:80px;
}

.forgot-cancel{
	margin-top:10px;
	font-size:12px;
	color:#9c9c9c;
}

.loginform .forgot_button, .loginform .forgot_button a {width:159px; height:35px;}
.loginform .forgot_button {margin:12px 0 0 0;}
.loginform .forgot_button a {display:block; background:url(../../images/admin/button_submit.jpg);}
.loginform .forgot_button a:hover {background:url(../../images/admin/button_submit_over.jpg);}
.loginform .forgot_button span {display:none;}

.forgot .error{
	margin:-55px 0 0 170px;
}

.quick-content{

}

	.quick-content a{
		display:block;
		float:left;
		padding:6px 6px 12px;
		background-color:#eeeeee;
		width:198px;
		margin-right:5px;
		margin-bottom:10px;
		font-size:12px;
		font-weight:normal;
		color:#797878;
		line-height:14px;
	}
	
	.quick-content a:hover{
		background-color:#fcfcc1;
	}
	
		.quick-content a h2{
			font-size:18px;
			color:#20679f;
			font-weight:bold;
			line-height:18px;
			padding:17px 8px 9px;
		}
		
		.quick-content a div{
			padding:0px 8px;
		}
		
.small-note{
	color:#9c9c9c;
}

.videos{

}

	.videos .video{
		margin-right:15px;
		margin-bottom:10px;
		width:201px;
		float:left;
	}
	
		.videos .video img{
			border:1px solid #e2e2e2;
			padding:3px;
		}
	
		.videos .video .info{
			font-size:11px;
			color:#9c9c9c;
			padding:10px;
		}
		
			.videos .video .info .video-heading{
				color:#363636;
				font-size:16px;
				font-weight:bold;
			}
			
.header .row3 .rightnav li.support a{
	padding-left:10px;
}