/*
Form Validation

Markup: <label class="input-label {$modifiers}">
    Telephone
    <input class="input-s" type="tel" value="555-555-5555">
</label>

.error - 
.success - 

Styleguide 5.4
*/

.is-successful {
    input,
    textarea,
    select {
        border-color: @success-color;
    }
}
.is-erroneous {
    input,
    textarea,
    select {
        border-color: @error-color;
    }
}

/*
Form Messaging

Markup: <label class="input-label">
    Form Bubble
    <input type="tel" placeholder="XXX-XXX-XXXX">
    <small class="input-alert {$modifiers} bubble">
        A message pertaining to this field.
    </small>
</label>

.info - 
.warning - 
.error - 
.success - 

Styleguide 5.5
*/

[class*="input-alert"] {
    &:extend( .relative-container );
    &:extend(.body-text);
    
    display: inline-block;
    color: @info-color;
}
.input-alert {
    &--warning {
        color: @warning-color;
    }
    &--error {
        color: @error-color;
    }
    &--success {
        color: @success-color;
    }
}
